[2017-06-27 02:09] alexanderepstein opened #1 "Add car data API"
http://www.carqueryapi.com/documentation/api-usage/

[2017-06-27 16:49] whit2333 opened #2 "[BUG] Curl not working with Weather script"
/usr/local/bin/weather: 7: [: <html><body><a: unexpected operator
curl: option -0500&override=no%20&Comment=%0D%0A"><img: is unknown
curl: try 'curl --help' or 'curl --manual' for more information

[2017-06-27 17:08] alexanderepstein commented on #2
What os are you on? I have tested this out on GNU Linux and OSX (which uses BSD everything) so the curl command should work

[2017-06-27 17:12] alexanderepstein opened #3 "Add recommendation engine api"
https://tastedive.com/

[2017-06-27 19:27] whit2333 commented on #2
Ubuntu 17.04

[2017-06-28 00:13] okonomiyaki3000 opened #4 "Do not use with MSys2 on Windows"
**Issue Label:**
* [X] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**

Overwrites `/usr/local/bin` instead of copying a file into it. Thanks. A lot.
Windows. MSys2.

**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [X] Windows 64 Bit

OS Version:

[2017-06-28 00:26] alexanderepstein commented on #4
Woah, I almost don't believe that, but actually on the README of this project it says that it is only for OSX and Linux, the bash is still experimental on Windows and I would never recommend this. Additionally to even enable bash you agreed to be careful and you used a sudo command without reading the script? The only reason that windows is even on the issue template is because I ported it from a

[2017-06-28 00:31] okonomiyaki3000 commented on #4
It did that without sudo. I don't know what's up with that.

[2017-06-28 00:35] alexanderepstein commented on #4
Really? Is MSys2 running with elevated permissions? If I had to guess on Windows there is now situation where the user can copy files to this directory without granting permissions? I'm sorry to hear that it did this to you either way. The only logical fix i can provide is just to make it clearer not to use this on windows 7bddda933a5711f91fa160ef51759e2fc41a381c

[2017-06-28 00:37] alexanderepstein commented on #2
That is very interesting. I run elementary OS which is just based on the LTS version of ubuntu. Something must have happened to the curl command between these versions I will look into it and get back to you.

[2017-06-28 00:38] okonomiyaki3000 commented on #4
Well, luckily I don't seem to be having any problems because of it but yeah, maybe you should just tell windows users to stay away. You can change the command to copy to `/usr/local/bin/` instead of `/usr/local/bin` but actually, after doing that, the scripts still didn't work. So I guess windows users are just SOL.

[2017-06-28 00:42] alexanderepstein commented on #4
Do you happen to know what is stored in that folder for Windows I honestly didn't even know they had a ```/usr/local/bin/```

[2017-06-28 00:53] okonomiyaki3000 commented on #4
I think it's only an MSys2 thing. Nothing to do with Windows normally. And maybe...nothing is there unless the user specifically puts it there?

[2017-06-28 00:55] alexanderepstein commented on #4
Possibly I would think that erasing the contents of this folder if it were to exist and be populated with what is there for UNIX and Linux systems you would definitely notice that something is wrong.

[2017-06-28 00:59] alexanderepstein opened #5 "Add quick update feature"
**Issue Label:**
* [ ] bug
* [ ] feature
* [x] enhancement

**Description of bug or feature enhancement:**
Using https://github.com/alexanderepstein/bsupdate add the update functionality to each one of the scripts. Allow the main installer script to take in an argument. If you call ```weather -u``` it should clone the repo and only install the new weather script.

**OS and OS version:**
* [x] Mac

[2017-06-28 03:12] #4 closed

[2017-06-28 03:39] alexanderepstein commented on #5
Added https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.1.0

[2017-06-28 03:39] #5 closed

[2017-06-28 04:11] alexanderepstein opened #6 "Add help to all the scripts as option and argument"
**Issue Label:**
* [ ] bug
* [ ] feature
* [x] enhancement

**Description of bug or feature enhancement:**
Just provide a simple usage sentence and then break down argument usage etc...

**OS and OS version:**
All

OS Version: All

[2017-06-28 08:21] ftp27 opened #7 "[BUG] Currency parsing error"
**Issue Label:**
* [x] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**

[code]
But from:
http://api.fixer.io/latest?base=EUR&symbols=RUB
[code]

**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:

[2017-06-28 12:18] alexanderepstein commented on #7
I see the issue in my code, will fix later today

[2017-06-28 13:08] alexanderepstein commented on #7
This should be fixed with 4ddcc644e4e2f8d3f91dd501ef35cb5750f0d863

[2017-06-28 13:08] #7 closed

[2017-06-28 13:08] alexanderepstein commented on #7
Will release update later tonight

[2017-06-28 15:09] chubin opened #8 "Several improvements ideas (like that: Use LANG data when calling wttr.in)"
Hi @alexanderepstein

Your weather script is cool, I like it, but if you make a special script instead of just curling wttr.in, I would suggest you several improvements:

1. Use your $LANG/$LC_ALL variables to access localized wttr.in version (you can specify the language using the lang= URL parameter, or using the domain name): curl de.wttr.in/Berlin
2. Check if the user has curl/httpie/wget inst

[2017-06-28 17:19] alexanderepstein commented on #8
Hey @chubin

I definitely agree with number one I didn't even know the api had other languages, this has been added.

For number two this is not the first time I have been told to implement this but I am still at loss because I thought every UNIX or Linux machine would have curl installed no?

I dont think I fully understand number three only because I am not sure how to do this with the api

Numb

[2017-06-28 17:28] chubin commented on #8
@alexanderepstein No, of course not. There are plenty of cases where curl is not installed at all (but there is almost always one of its alternatives: wget, fetch, etc.). Just google "curl not found" to see how often the problem occurs

Regarding options: have you tried curl wttr.in/:help ? you could implement a small wrapper, that converts your command line options into wttr.in query parameters.

[2017-06-28 18:56] alexanderepstein commented on #8
Would it make sense to just look for curl and wget I am concerned fetch is not going to work the same as these commands and I do not have a machine to test this on at the moment.

Oh wow the api is full of options. I think I might need to rewrite my script to account for some of them, might take me a little bit but will be worth it.

[2017-06-28 22:11] Thunderbottom opened #10 "Weather prints HTML file"
**Issue Label:**
* [x] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**
Typing in `weather` on macOS High Sierra returns an [HTML file](https://ptpb.pw/At1V/sh) instead of the expected output.

**OS:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

**System Specific Info:**

[code]

**EDIT:** _Check [this](https://githu

[2017-06-28 22:16] alexanderepstein commented on #10
Whoah that seems unusual. I don't have access to a system with High Sierra installed on it but it has something to do with the curl call. @chubin do you know what is causing this?

[2017-06-28 22:28] Thunderbottom commented on #10
Actually, do we even need to add `$location` to the curl call? Because it returns me results for my current location regardless of whether I put my location.

Just calling `curl $locale.wttr.in` works fine as well. Although, it still shows the output as HTML.

[2017-06-29 01:56] alexanderepstein commented on #10
It doesn't grab everybodys locations correctly (it doesn't work for me) that's why I query ip info and what not.

 Can you try using wget instead of curl and let me know what that returns.

[2017-06-29 05:12] Thunderbottom commented on #10
Using `wget -qO- en.wttr.in` returns the same html page as before.

[2017-06-29 05:45] chubin commented on #10
@Thunderbottom please do curl -vI wttr.in and show the result.

[2017-06-29 08:38] chubin commented on #8
Yes, it would make sense, but there some systems (FreeBSD is a good example) that has no curl/wget in the base system, but they have fetch instead.
with fetch you can pipe the output on the stdout, exactly as with wget:

fetch -o- wttr.in

(more on it: https://www.freebsd.org/cgi/man.cgi?fetch(1) )
So why don't support fetch?

Regarding API, I could make some helper functions for such wrapper-shel

[2017-06-29 17:23] Thunderbottom commented on #10
Shows the same HTML output.

[2017-06-29 18:06] chubin commented on #10
It should show something like that:

[code]

Are you sure that you are using curl?
What to you get if you do:

[code]

?

[2017-06-29 18:31] alexanderepstein commented on #6
Added in 5b8479552bce576d4e47f4a5794f710810bb97d0

[2017-06-29 18:31] #6 closed

[2017-06-29 19:18] Thunderbottom commented on #10
Alright, I mistook `curl -vI` for `curl -vl`

Here is the output :

[code]

Of course.

[code]

[2017-06-29 19:21] Thunderbottom commented on #10
Apparently the User Agent is different for both of us

Yours:

[code]

Mine:

[code]

[2017-06-29 19:35] alexanderepstein commented on #2
Can you try running ```wget -qO- en.wttr.in```

@chubin I think this related to the other weather curl issue

[2017-06-29 20:23] chubin commented on #2
May be not.

@whit2333 Could you please do

[code]

and post the output here?

[2017-06-29 20:26] chubin commented on #10
I don't known why your curl uses this user-agent string, it's obviously wrong (probably you've configured it in ~/.curlrc), but you can override it with `-A`:

[code]

@alexanderepstein You can force user agent in the weather script using -A. It will guarantee that failures like that will not happen (and the method hat no drawbacks at all, at least not for the clients).

[2017-06-29 20:31] alexanderepstein commented on #10
@chubin
Just going to get confirmation that this solves the issue (although after looking into it I think it will) and will implement it in the next commit

[2017-06-29 21:28] Thunderbottom commented on #10
Yes, using the `-A` flag makes it work right. @alexanderepstein you should implement it in the next commit.

[2017-06-29 21:51] alexanderepstein commented on #10
Added in commit f7aaed704c15a3e4db42d9749c5e59ac32734474

[2017-06-29 21:51] #10 closed

[2017-06-29 22:03] chubin commented on #2
@alexanderepstein Let us see if your new update (forced curl -A) have solved this problem

[2017-06-29 22:03] alexanderepstein commented on #10
Released in version 1.2.1

[2017-06-29 23:07] alexanderepstein commented on #8
For now i am just checking if curl is installed and if not i tell the user to install it and exit but you are definitely right, I need to support fetch, hopefully I can get to doing that soon.

As far as the helper functions go, it might be confusing unless all of the wrapper shell scripts worked the same way. Maybe I don't fully understand what the implementation of this would look like can you e

[2017-06-29 23:37] chubin commented on #8
Yes, I think it is a great idea to support not only curl but all of the clients (and even if any of them installed you can emulate them with tiny python/ruby/perl depending on that what of them is installed).
So, for example, you can do
[code]
instead of curl URL.

I've also noted in your code that you repeat the same call everywhere (`curl -Acurl` here, `curl -Acurl` there), I would do extract th

[2017-06-30 00:07] alexanderepstein commented on #8
I think i am going to support curl, wget and fetch for now as they seem to be the major three and the easiest to work with. I am definitely going to get rid of some of the code duplication with that, I need to also do that for all the python calls in my stocks and movies tool.

I think I am starting to understand what you mean but still not fully if it wouldn't be too much trouble a prototype woul

[2017-06-30 05:50] alexanderepstein commented on #3
Added 3aefcd242b2d2051a43cb98a71148a9f5878bdee

[2017-06-30 05:50] #3 closed

[2017-06-30 06:41] alexanderepstein opened #11 "Add bitbucket backup script"
**Issue Label:**
* [ ] bug
* [ ] feature
* [x] enhancement

**Description of bug or feature enhancement:**
Run the user through either selecting some or all of their github repositories. Then clone all these repositories locally to a temporary directory and then create a new project on bitbucket and push the entire repository there. Do this for the selected/all repositories. Bitbucket backup repo

[2017-06-30 06:46] alexanderepstein commented on #1
This is a bad API

[2017-06-30 06:46] #1 closed

[2017-06-30 10:31] Logic-gate opened #12 "url Expander"
**Issue Label:**
* [ ] bug
* [ ] feature
* [x] enhancement

**Description of bug or feature enhancement:**
Add a url expander. I currently have a working web service. Example http://x.datasig.io/short?url=http://tinyurl.com/jhkj/

[2017-06-30 11:15] farhansalam opened #13 "Without $LANG var being set weather was not shown"
**Issue Label:**
* [ ✔ ] enhancement

**Description of bug or feature enhancement:**

Without $LANG var being set weather was not populated

**OS and OS version:**
* [✔ ] Mac

OS Version:
10.12.5 (16F73)

[2017-06-30 11:18] farhansalam commented on #13
Fixed here https://github.com/alexanderepstein/Bash-Snippets/pull/14

[2017-06-30 12:46] alexanderepstein commented on #13
Really? This variable should be a builtin so every system should have a value there, but I guess it cannot hurt to have a default value

[2017-06-30 12:47] alexanderepstein commented on #13
Merged 4f44a45ba19932da064988bc4189ac9444f29b9b

[2017-06-30 12:47] #13 closed

[2017-06-30 13:48] alexanderepstein commented on #12
@Logic-gate added in ccb751ec01b25ec020b4983f312cbe4eda190c66 will come out with next release

[2017-06-30 13:48] #12 closed

[2017-06-30 17:02] ChainsawBaby opened #18 "Created a brew formula"
I have created a brew formula for bash snippets for simpler installation on mac.
https://github.com/Homebrew/homebrew-core/pull/15107

The brew build is failing atm now because this repo is less than 30 days, not sure if it is going to be merged into Brew before 30 days have gone.

The test probably should be improved, because it just tests if **crypt** has been installed, but if the user decided

[2017-06-30 19:16] chubin opened #19 "Improvement: add new tool to convert any string to QR-code in shell"
You can convert any string to a QR-code without leaving your shell/editor
using curl and and qrenco.de:

[code]

You can use any of these two forms (this first one supports any symbols + multilne text; the second one is shorter).

You could add a new script, say `qrencode` that will encode text passed as its argument,
or read the text from stdin and convert it using qrenco.de

Something like this:

[2017-06-30 19:27] chubin opened #20 "Improvement: add script to get command line/programing languages cheat sheets using cheat.sh"
You can use the cheat.sh service to get command line/programming languages cheat sheets.

The service delivers currently almost 1000 different cheat sheets covering 16 topics.

How can you use it?
[code]
for example:
[code]
Or if you want to get a programming language cheat sheet, use Language/Topic:
[code]

Use `~` for search; use `?T` to turn syntax highlighting off.

Very important: don't forge

[2017-07-01 04:59] Zhanweelee opened #21 "always get no active internet connection"
OS: macOS Sierra 10.12.5

Error: no active internet connection

[2017-07-01 05:03] alexanderepstein commented on #21
What tool is it? Let say its stocks Can you run ```bash -x stocks Tesla``` and post the output here

[2017-07-01 05:38] Zhanweelee commented on #21
it's okay now, maybe it's just my network problem. thanks!

[2017-07-01 07:43] #21 closed

[2017-07-01 14:32] alexanderepstein commented on #18
That's cool I would love to have this be a part of homebrew core, my only concern is that if you install it with homebrew core where does it get installed? Because I would have to account for the location of the tools in the update method I created otherwise it would break my update method if you installed with homebrew (unless I get to choose where the file is installed).

I don't really know any

[2017-07-01 16:11] ChainsawBaby commented on #18
They get installed to /usr/local/bin, or, they get linked there. Regarding updating, brew takes care of that. Because it downloads the latest released version from git.

If you see my screenshot, I have v1.5.0 installed, and then I run brew upgrade, it updates bash snippets to v1.6.0
![https://i.bratteng.xyz/git/4pYMQv3IdY.png](https://i.bratteng.xyz/git/4pYMQv3IdY.png)

So, someone using brew, re

[2017-07-01 16:12] ChainsawBaby commented on #18
If I run `crypt -v`, I now get `Version 1.6.0`

[2017-07-01 16:27] alexanderepstein commented on #18
Awesome I install to usr/local/bin so you should be able to update through homebrew or my application. I know if you install through homebrew that's where you update it though but I just didn't want my update method to break so that just in case someone does call it that way they aren't always returned with some error.

But it looks like it would work perfectly since we share the same install loca

[2017-07-02 18:47] mega7star opened #22 "Terminal in screnshoots"
Hi!
What terminal is it?

![img](https://raw.githubusercontent.com/alexanderepstein/Bash-Snippets/master/stocks/stocks.png)

[2017-07-02 18:51] alexanderepstein commented on #22
The standard terminal on Elementary OS

[2017-07-02 18:51] #22 closed

[2017-07-03 01:43] alexanderepstein commented on #20
Not complete but this should cover most of the functionality f5048da5a942be341eccbae0e99f405622b8151d

[2017-07-03 01:43] #20 closed

[2017-07-03 02:03] alexanderepstein commented on #2
I haven't heard any issue here from anyone else nor a response about the status of this issue after the update, will assume it works unless I hear otherwise and will reopen this.

[2017-07-03 02:03] #2 closed

[2017-07-03 05:36] farhansalam commented on #13
Yes, unfortunately it was empty I am using latest zsh version `zsh 5.2 (x86_64-apple-darwin16.0.0)`. But anyways, thanks for the merge! 👍

[2017-07-03 10:03] jabbalaci opened #24 "change python to python2 everywhere"
Instead of calling "python -c", use "python2 -c". Under Arch / Manjaro "python" is a symbolic link pointing to python3, thus "print ..." is a syntactic error. In most distros python points to python2, thus this problem doesn't occur under Ubuntu for instance.

[2017-07-03 12:32] linyostorovovoltos opened #25 "Enhancement: Youtube viewer in terminal"
**Issue Label:**
* [ ] bug
* [ ] feature
* [x] enhancement

**Description of bug or feature enhancement:**
So, I'm thinking that we have a script that opens up a youtube-video from the terminal. The script is already written, but there's one clincher, which is that it requires lynx. I'm trying to adapt it to use curl instead, but would this be wanted? The script is fully functional so far, and I'v

[2017-07-03 12:36] linyostorovovoltos commented on #25
Now, I've added support for the video to play IN the terminal, but it requires caca, so I don't know if that will be wanted.

[2017-07-03 13:08] alexanderepstein commented on #24
Will add this later today, thanks for the heads up

[2017-07-03 13:11] alexanderepstein commented on #25
This definitely would be wanted if you can find a way to use curl then I can support curl wget and fetch. It is definitely more desirable if it has no dependencies for the most part all "dependencies" here should be preinstalled on most if not all distros and OSX

[2017-07-03 13:12] linyostorovovoltos commented on #25
Alright, I'll add support for using your own video player instead of mpv.

[2017-07-03 13:58] alexanderepstein commented on #24
Fixed 44ce35f4be24ac30ab93427e74a867bf7d36d698 should be implemented in the next release

[2017-07-03 13:58] #24 closed

[2017-07-03 14:39] jabbalaci commented on #24
OK. Since Python 3 is the future, think over if you want to switch to Python 3. Then print(...) is a function, i.e. the parentheses are required. And then "python3 -c ..." would be needed everywhere. But the current version with python2 is also good.

[2017-07-03 18:59] alexanderepstein commented on #25
Moving this conversation over to #26

[2017-07-03 18:59] #25 closed

[2017-07-03 19:00] alexanderepstein commented on #11
Works for a single repository 7b18c65335ec180581b1cf05078db473febec097 now working on the all option

[2017-07-03 19:34] melezhik opened #27 "A collaboration idea ( Sparrow project )"
**Issue Label:**
* [ ] bug
* [ ] feature
* enhancement

**Description of bug or feature enhancement:**

Hi! I like your project. Actually I have somewhat similar project - https://sparrowhub.org , the idea is you can upload all your snippets into sparrowhub and manage them as the packages of software, don't hesitate to ask me why and how. Or we can think of other ways of bashsnippets / sparrow int

[2017-07-03 20:09] hallzy opened #29 "searching "mission impossible" in movies script"
**Issue Label:**
* [x] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**

When I run the movies script to find "mission impossible" like so, I get this output:

[code]

Ignoring the fact that this is not the movie I was expecting (though, you can get the tom cruise movie with "mission: impossible" this execution produces an index error.

The problem seems to come

[2017-07-03 20:36] alexanderepstein commented on #29
Will add a similar fix later I am going to check if the variable has been set to anything, if not I don't want ```Tomato:``` showing up in the ouput

[2017-07-03 21:04] linyostorovovoltos opened #30 "Ytviewer not working on Mac?"
**Issue Label:**
* [x] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**
So, @alexanderepstein. You say that ytviewer isn't working on mac? What is the issue? Is it not playing the video? The only problem I get when running it on a friend's mac is that there is no video player to play it with, but I'm sure if you had vlc installed it would work? Please detail the

[2017-07-03 21:16] alexanderepstein commented on #30
I misspoke it does work on Mac now I solved the main issue in one of the commits to the fork but forgot to retest it.
The only issue is on OSX it cannot be called as ```vlc``` it must be called as ```/Applications/VLC.app/Contents/MacOS/VLC``` which will be okay since I will automate finding the video player so the user never has to enter it.

[2017-07-03 21:16] #30 closed

[2017-07-03 21:16] linyostorovovoltos commented on #30
Alright, thanks!

[2017-07-03 22:49] linyostorovovoltos opened #31 "Add ytviewer to README.MD?"
**Issue Label:**
* [ ] bug
* [ ] feature
* [x] enhancement

**Description of bug or feature enhancement:** Since ytviewer is now stable, with Mac support, which hopefully is working, could it be added to the README?

**OS and OS version:**
* [x] Mac
* [x] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:

[2017-07-03 22:52] alexanderepstein commented on #31
The core functionality is there but it is still missing a few things. I am working on it now, will be added very shortly.

[2017-07-04 00:29] alexanderepstein commented on #31
Added

[2017-07-04 00:29] #31 closed

[2017-07-04 00:38] alexanderepstein commented on #27
Hey
I don't fully understand your proposal, are you asking to add these scripts to sparrowhub?

[2017-07-04 06:39] melezhik commented on #27
hi ! Yes, I see that you have a collection of useful shell scripts. Right now the distribution is a git clone and install.sh , right ? You might upload your stuff to SparrowHub as well, the benefits you get:

- expand you community ( Sparrowhub users )
- script are easy to install on the most any Linux boxes by means of sparrow client
- scripts are versioned, say the end user may install any versi

[2017-07-04 11:52] linyostorovovoltos opened #34 "Tabs vs Spaces for code"
**Issue Label:**
* [x] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:** Should we use tabs or spaces in our code? I personally prefer tabs, but will work with anything. Just want to get a unified standard :) This isn't really urgent, so sorry for wasting your time.

**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [X] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ]

[2017-07-04 12:32] alexanderepstein commented on #34
It doesn't really matter, after I write code in bash I run it through ```beautysh``` which formats the shell scripts to a standard.

[2017-07-04 12:44] alexanderepstein commented on #34
https://github.com/bemeurer/beautysh

[2017-07-04 12:44] #34 closed

[2017-07-04 14:08] alexanderepstein commented on #29
Fixed 69466559dce7a273c7c0d24461cbc868251741db

[2017-07-04 14:08] #29 closed

[2017-07-04 14:13] alexanderepstein commented on #27
Where do things that are installed from sparrowhub get installed on the client machine? My current setup goes to ```/usr/local/bin``` is this the same? If so I wouldn't mind if you uploaded the entire repository of scripts there, the more places it is out there the better! However if the files arent installed there that will break my current update system in a confusing way that wouldn't error out

[2017-07-04 14:15] alexanderepstein commented on #11
Works on mutiple repos at once but not all (still haven't queried github for the list of repo names) and the private option is all setup to work but is_private is not working for whatever reason.
https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.9.0

[2017-07-04 14:15] #11 closed

[2017-07-04 17:06] melezhik commented on #27
The idea behind sparrow is it provides  its own mechanism of script updates, so there is no need in install.sh / update command delivered by Bash snippets repo. All  this  is pretty described  in sparrow docs - see https://github.com/melezhik/sparrow#plugins-api

Say you have a script weather, following sparrow methodology you do this:

1. Upload script to SparrowHub with some version:

    sparro

[2017-07-04 17:59] alexanderepstein commented on #27
I am cool with adding it but i have to add a check in my updater that will throw an error if nothing has been updated and will recommend updating through the respective installed package manger. As i said for now if you installed through some other means then install.sh then calling ```tool -u``` or ```tool update``` would not return an error but actually would just update nothing and say successf

[2017-07-04 19:24] melezhik commented on #27
Sure, I don't want to break existed Bash snippets installations )))

I have analyzed your repository, issues and history, looks like people want to add more and more useful scripts here. I found that sparrowhub and your project shares the same goal - let people to create and share useful scripts. Imho "in scale"  it'd be hard to manage a huge number of scripts by install.sh/update as you have ther

[2017-07-04 23:58] linyostorovovoltos commented on #19
Sure! I'm working on this right now, but I don't know if it'll be accepted. Thanks for the infos!

[2017-07-05 00:23] alexanderepstein commented on #19
@linyostorovovoltos will definitely be accepted if I agree with the method and I can modify the for similar to the way you set up ytview I have been busy spending the time I get to work on this on cloudup because that is the most useful tool to me

[2017-07-05 11:16] melezhik commented on #27
Have created https://github.com/alexanderepstein/Bash-Snippets/pull/35 as an example

[2017-07-05 13:54] mellena1 opened #36 "Sourcing .bashrc in MacOS"
**Issue Label:**
* [x] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**
MacOS defaults to sourcing ~/.bash_profile on the startup of a terminal window, so most mac users won't have a ~/.bashrc file. With the current setup it throws a `No such file or directory` error.

**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [

[2017-07-05 13:59] mellena1 opened #38 "Calling python2 instead of python"
**Issue Label:**
* [x] bug
* [ ] feature
* [ ] enhancement

**Description of bug or feature enhancement:**
Kind of depends on the OS and package manager the user uses, but I believe most installers install python 2.7 as `python`. This causes the scripts that utilize python to fail because the user's machine won't have anything called `python2` available in their path. There may be a way to check f

[2017-07-05 14:04] alexanderepstein commented on #38
Almost all linux distros allow to call ```python2```. I originally had it as ```python``` but for arch linux users this defaulted to python 3 which has a different print statement. I could definitely add a check at the top though to determine if i should be calling it python2 or python for that user. I haven't personally tested this on OSX too much so thanks for the heads up.

[2017-07-05 14:08] alexanderepstein commented on #36
Ah I even read about this but never made the connection that I sourced a non existent file. Thanks for the heads up will fix later today

[2017-07-05 14:09] mellena1 commented on #38
Yeah no problem. Another option would be to use python3's print syntax, as it works on both python2 and python3.

[2017-07-05 14:24] alexanderepstein commented on #36
Fixed 114a734c92931ccd8a6e22a8982c95e2ddbb839b

[2017-07-05 14:24] #36 closed

[2017-07-05 14:36] alexanderepstein commented on #38
This should fix it for now 155dd951d57297affa5e3c25077924eee3bdfb2c I just don't want to assume that a user has python3 preinstalled whereas it is almost a guarantee the user has at least python 2 already installed.

[2017-07-05 14:36] #38 closed

[2017-07-05 17:29] alexanderepstein commented on #19
Released as of version 1.10.0

[2017-07-05 17:29] #19 closed

[2017-07-06 00:30] alexanderepstein commented on #27
Moving conversation over to #35

[2017-07-06 00:30] #27 closed

[2017-07-06 12:27] chubin commented on #19
@linyostorovovoltos I've commented it in the code directly, but I repeat it here also:
don't do `read a; echo $a | curl -F...` just use `curl -F...` instead

[2017-07-06 14:54] alexanderepstein commented on #8
I don't know if I am going to add support for the weather stamping feature unless I can find a way to get an image of the desired location and then transpose the weatherstamp onto that image but the process in its current state would not be streamlined enough for the user in my opinion.

[2017-07-06 15:56] chubin commented on #8
I think you've understood my idea a little bit wrong.
The idea was to add weather information on the users' photos (using EXIF data of the photo files).
So you extract the GPS coordinates of the photo, fetch the weather stamp for them,
and apply it on the photo.

Something like:
[code]
The script creates a new file, the new flle is basically the old file plus the weather stamp.

[2017-07-06 17:47] alexanderepstein commented on #8
Ah i see, it appears location EXIF data only exists on jpgs and not all of them. Additionally I have only seen one solution that was completely bash it seems the most common practice way to do this would to be using a tool like ```imagemagick``` or something along those lines. It doesn't kill the idea behind this but makes it tougher to implement especially because from what it seems it would be i

[2017-07-06 18:18] chubin commented on #8
Yes, you are right, but you could ask user to force location if exiftool/EXIF data is not available.
In this case it would be not a hard dependency, just a soft one, that is used if it is available.

[2017-07-07 13:11] alexanderepstein commented on #8
That is a fair point. Will look into implementing soon.

[2017-07-07 21:31] alexanderepstein commented on #8
Is there an option I can add to wttr.in to get the weather of a day in history and not the current weather? When adding the weather to the photos it would make sense to add the weather on that day and not the current weather. I looked through wttr.in/:help but couldn't find a function that could do this except for the moon.

[2017-07-07 21:43] alexanderepstein opened #41 "Improve tests for each tool"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [x] Enhancement
* [ ] New component

**Description:**
Would love to have tests that run for the commits and PR's. Also can be used if new features are added to tools to make sure that no existing functionality has been broken.

This looks like a promising tool to use: https://github.com/sstephenson/bats

[2017-07-07 21:47] alexanderepstein opened #42 "Add a man page for Bash-Snippets"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [x] Enhancement
* [ ] New component

**Description:**
Have a man page that provides a more in depth description of each tool and their functionality. Could possibly have one man page per tool or one for all of bash-snippets. Only downside to the latter is if the user doesn't install that tool the information on the tool would still be in the bash-snip

[2017-07-08 04:27] alexanderepstein opened #43 "Cheat cannot perform searches within programming languages"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
I am curling the link that is provided by cheat.sh/:help. Both ```curl -A curl -s cheat.sh/scala/~closure``` and ```curl -A curl -s cheat.sh/scala/~closure/irb```  return nothing.

However searches such as  ```curl -A curl -s cheat.sh/~java/rrb``` does what it is supposed to and brings me to the ja

[2017-07-08 04:28] alexanderepstein commented on #43
@chubin

[2017-07-08 06:59] alexanderepstein commented on #42
Added 998fc15b0e6ea5414b85c0460a36216f8388df44

[2017-07-08 06:59] #42 closed

[2017-07-08 12:39] ChainsawBaby commented on #18
Just created a brew tap, so you can now install it like this
`brew install chainsawbaby/formula/bash-snippets`

[2017-07-08 12:41] ChainsawBaby commented on #18
I'll see if I can come up with some tests for the brew formula

[2017-07-08 13:57] alexanderepstein commented on #18
@ChainsawBaby awesome! Going to test it on my mac soon and will then add this to the readme. Any chance you could also copy ```bash-snippets.1``` to ```/usr/local/man/man1```. This will allow people to enter ```man bash-snippets``` and get information on all of the tools at once.

[2017-07-08 16:36] ChainsawBaby commented on #18
@alexanderepstein Done, added man pages to the formula

[2017-07-08 18:56] alexanderepstein commented on #18
Added to README here 36dabd4ee70cd882f732816c6bb52770994ca0e2 I do not inform the user of the possibility of flags such as ```--without-crypt``` due to the nature of the tests. Once the tests are testing functionality and not existence of crypt I will add that to the README as well.

Hopefully will be able to retry adding this homebrew-core after the tests are improved upon and it has hit the 30 d

[2017-07-09 06:08] alexanderepstein commented on #41
Added base tests with this commit 1901224d86d546f40b234003dcb9120310f4376b, most of the tests are not complete and only test functionality that is shared by each tool.

[2017-07-09 21:52] alexanderepstein commented on #18
Not sure if you can use my tests but I have created a test suite for this repository using https://github.com/sstephenson/bats. All of the tests are located in the tests folder. I don't think you will be able to use them directly but they are tests that are ready to be ported to another language. The only tool that tests cannot run on is the taste tool because it requires an api key to be in the ~

[2017-07-09 21:57] alexanderepstein commented on #41
Think i have covered all the tests i can with 6ecdf11dd6bd6c4303e2c7658572caa6e69b1ae2 All of the tools that require user interaction with a ```read``` command cannot be tested as for now I haven't found a way to simulate keyboard input.

[2017-07-09 23:41] alexanderepstein opened #45 "Ytview is playing wrong video"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
No matter what I search by using ```ytview video title goes here``` when i choose the number to play the video it always plays the wrong video. Sometimes this video is on the list sometimes it is not.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux

[2017-07-10 12:13] pepik opened #46 "Proxy support is missing"
**Issue Label:**
* [ ] Bug
* [x] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
If I am behind a proxy and don't have a direct connection to the internet, the tools fail on checkInternet function, where it runs 'nc google.com 80'. Having support for standard http_proxy and https_proxy env variables would be great.

The python code ran after this function respects http_proxy an

[2017-07-10 12:17] alexanderepstein commented on #46
I can check for if those variables have values and skip on the checkInternet function. This will of course break the safegarud of bad output when you don't have an internet connection. Furthermore the weather application will definitely not work with no flags because your IP address will not represent your location so the geolocation will fail.

[2017-07-10 15:04] alexanderepstein commented on #46
Can you let me know if these are set as environment variables? Does running ```env | grep "[http][s]?[_proxy]"``` return two results? If so where are these variables set, in the ```~/.bashrc``` or ```~/.bash_profile``` or neither and is this in some internet config file? Never really used a proxy consistently so I have never set it up fully. I think if i can get the correct answers to all those qu

[2017-07-13 11:37] melezhik opened #48 "Consider using double dashes style for options and flags in command line parameters"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* Enhancement
* [ ] New component

**Description:**

Many CLI utilities today have double dashes style when it comes to command line parameters:

    --foo-thing

At least there are often alternatives:

    -f
    --foo-thing

[2017-07-13 14:57] linyostorovovoltos commented on #45
Am trying to reproduce this bug

[2017-07-13 15:02] alexanderepstein commented on #45
Sorry meant to include this you should be able to find the problem somewhere within this

[code]
Although I go to play number 1 *The impossible game* I end up playing *MyAbridged - 10 Hours of a Fireplace Burning*

[2017-07-13 15:09] alexanderepstein commented on #48
This is something I was going to do instead of allowing ```tool update``` it was going to be ```tool --update``` but after seeing other examples of how allowing options like this is achieved it seemed to like to much of a workaround that made the flow a little confusing to follow. Additionally this long options are not supported in the standard way on OSX and BSD based systems

[2017-07-13 15:12] alexanderepstein opened #49 "Add a todo tool"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [x] New component

**Description:**
Create a simple command line todo list. Should be able to add new tasks, erase tasks and set tasks to completed. When calling the list of tasks next to each tasks should be the amount of time that has passed since you set up this todo.

[2017-07-13 15:14] alexanderepstein commented on #41
Issue above still remains will close for now and forever unless I can determine how to simulate keyboard input or decide to add a special parameter to each tool that bypasses user input (however this wouldn't test all of the functionality of the tool)

[2017-07-13 15:14] #41 closed

[2017-07-13 15:30] linyostorovovoltos commented on #45
Alright, fixed the bug. #50

[2017-07-13 16:40] melezhik commented on #48
Ok, not that critical, just wanted to know your view on this, you may close this one if you want to.

[2017-07-13 17:15] #48 closed

[2017-07-13 17:22] alexanderepstein commented on #45
The fix at #50 now shows 19 titles and at least now the fireplace burning title is number 1. However with the same search when i go to play video number 3 which is now position of impossible game it still plays the fire burning video it appears you are sending more then one youtube link to vlc for some reason. I would think you would only send a single link (if the reason for this is to play a sec

[2017-07-13 17:23] alexanderepstein commented on #45
Additionally it would be nice if some of the special characters were replaced with what they are supposed to be for example you see ```&amp;``` where it should just be ```&``` you see ```&#39``` when it should be ```'```

[2017-07-13 19:19] linyostorovovoltos commented on #45
K, sorry I was away, I'm having to edit the way that it chooses the video from the list.

[2017-07-13 19:40] linyostorovovoltos commented on #45
Alright @alexanderepstein fixed it.

[2017-07-13 20:30] chadfurman opened #52 "(Termux Support) Requires ability to specify install path"
**Issue Label:**
* [X] Enhancement

**Description:**
Installing in Termux fails due to assumption of /usr/local/bin and /usr/bin and /bin/bash
while I can run the script manually with `bash install.sh`, there is zero reason to require sudo here.  Specifying a directory for all scripts to install within would be helpful, then I could that to my path manually.

**OS and OS version:**
* [x] Android 7

[2017-07-13 22:09] alexanderepstein commented on #52
I never intended for any of these tools to be used on android. In fact a lot of them would look pretty terrible there if I had to imagine it. Additionally the install script does not require sudo but it does assume ```/usr/local/bin``` exists and attempts to copy the tool over to there. The message about sudo only occurs because some linux distros do not allow you to copy files to this directory w

[2017-07-14 00:05] alexanderepstein commented on #45
Fixed with #50 and #51

[2017-07-14 00:05] #45 closed

[2017-07-14 00:32] alexanderepstein commented on #52
What do you think about adding an android Termux installer where it installs the files to ```/data/data/com.termux/usr/bin/```? I would put all the tools in the installer but not sure how good they would all looks since they were formatted for computer use.

[2017-07-14 12:45] alexanderepstein commented on #52
After looking into this further it seems installing on Android would break a lot of the functionality for each of the tools. It just makes more sense to not support Android overall especially since this never was intended for that use.

[2017-07-14 14:01] slhck opened #56 ""taste" script assumes .bash_profile"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

Using Zsh (through Homebrew), the `taste` script runs successfully after setting the API key in `.zshrc`, but it shows an error:

    /usr/local/bin/taste: line 7: /Users/werner/.bash_profile: No such file or directory

Not sure if a `source ~/.bash_profile` is even needed; if the environment vari

[2017-07-14 14:08] gdoteof opened #57 "qrify doesn't seem to work right on osx"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
qrify has unexpected spacing

![image](https://user-images.githubusercontent.com/151115/28215503-492b680a-687c-11e7-975c-a6b21f074993.png)

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 6

[2017-07-14 14:13] alexanderepstein commented on #57
What terminal are you using?

I personally have tested this on iTerm2 on OSX. The spacing is definitely an interesting bug and sadly renders the qrcode to be unreadable.

@chubin just making you aware of this in case it is a bug with qrenco

[2017-07-14 14:16] gdoteof commented on #57
This is iTerm2.

![image](https://user-images.githubusercontent.com/151115/28215818-550f20d4-687d-11e7-9690-70e40f19ff8a.png)

I don't believe I have changed any of the settings, but it's possible.

[2017-07-14 14:17] gdoteof commented on #57
fwiw, it works much better in 'Terminal'

![image](https://user-images.githubusercontent.com/151115/28215926-a8feaeb2-687d-11e7-99ff-ed8f9152610e.png)

[2017-07-14 14:20] alexanderepstein commented on #56
Glad you like them!

I don't personally use zsh and I agree that i shouldn't need to source ```~/.bash_profile``` but on my linux distro this is necessary, just retested this by commenting the line and was thrown the no API key error. So it will stay for that reason.

However before sourcing the file I can check what shell you are in by using the env variable ```$SHELL``` and if its not bash don't

[2017-07-14 14:23] chubin commented on #57
It's not a bug actually, it's a feature, at least it's known that there are fonts that can't be used for QR-code generation. You can't do anything with it. The only possible solution (and that is only for iterm2) to generate a PNG to show it (like here: https://www.iterm2.com/documentation-images.html ). Could it be the solution for you? If yes, we could implement it.

[2017-07-14 14:24] chubin commented on #46
@pepik Does weather work for you?

[2017-07-14 14:26] gdoteof commented on #57
Yes it would be a fine a solution.  It would also be acceptable to note which font(s) is/are recommended; especially if other bits that use ascii art are also limited in their fidelity by my font choice (which I am not attached to at all)

[2017-07-14 14:27] slhck commented on #56
Have you done `export TASTE_API_KEY=...` and not just `TASTE_API_KEY=...`?

If you export the variable from your shell config file, there's no need to source it when running another script like `taste`.

Mind you that only `.bashrc` is read when opening new non-interactive shell sessions. This is why `.bash_profile` isn't read on Linux unless you actually log in. (Read [here](http://www.joshstaige

[2017-07-14 14:29] slhck commented on #56
Just to show you that it works without the shell config file (Bash on Linux):

[code]

[2017-07-14 14:33] alexanderepstein commented on #56
I did run it as ``export TASTE_APIKEY=...``` I use elementary OS and basically everything is meant to be protected (I cant even install my own scripts without sudo). I can refain from sourcing the ```bash_profile``` or ```bashrc``` if i export the key and run the taste tool in the same shell. However as soon as i exit the session and open a new one I am hit with the no API key.

Originally I was s

[2017-07-14 14:37] chubin commented on #57
@gdoteof Does curl wttr.in work for you like it should? Or does it also look ugly?

[2017-07-14 14:40] slhck commented on #56
Hmm. I think it's more of a problem with your setup that requires this hack.

Your script *should* work without sourcing anything. Adding a switch depending on the OS won't help, because you'd have to then cater for every possible combination of OS and shell. What if the user is
running `fish`, or `zsh` (as in my case)?

Just as a side-note: no other tools (e.g., `git`, `wget`) require you to do t

[2017-07-14 14:40] gdoteof commented on #57
it looks okay to me, slightly less good in iTerm2 (top) than Terminal (bottom)

![image](https://user-images.githubusercontent.com/151115/28216787-d52b2ac6-6880-11e7-9c9e-8d2357cb2436.png)

[2017-07-14 14:46] alexanderepstein commented on #56
I only don't think so because I have Elementary OS installed on 3 different laptops all require sudo permissions to do a lot of tasks. I can't seem to find the link but I read a post from an Elementary Developer as to why they did this.

I can't really speak to why it doesn't because i agree with you.

I wouldn't check for all shells only bash and else if bash then source the file suppress the pos

[2017-07-14 14:46] chubin commented on #57
Ok, that means that the only possible solution is to use PNG-based QR-codes (but keep in mind that they will work only in iTerm2).

Have you tried to change line spacing by the way?

https://apple.stackexchange.com/questions/198518/how-to-make-font-size-equal-to-15-in-terminal-on-mac-os-x-yosemite

[2017-07-14 14:53] gdoteof commented on #57
I just tried a bit, not really great results.  What font are you using that works so nicely?

![image](https://user-images.githubusercontent.com/151115/28217274-95db4e58-6882-11e7-97f3-e02a2f41524e.png)

[2017-07-14 14:54] MauJFernandezUVR commented on #46
I have the same issue as @pepik, neither weather, youtube view, geo -g, movies, cheat or others work.

My proxy configs are in .bashrc, both http_proxy and https_proxy are set.

[2017-07-14 14:54] slhck commented on #56
They don't have a special method for doing it -- they just access `$HTTP_PROXY`. Shells are built in such a way that if you have a parent shell that calls a subshell, it will export its environment variables to that subshell. For example, if you run:

[code]

... your parent shell will have `FOO` in its environment, pass that on to `bash`, which is why you can access it from the `bash` subshell. S

[2017-07-14 14:58] chubin commented on #57
I don't use Mac OS X, and in Linux, I tested it in many terminals, and it looks nice everywhere.
Unfortunately, I have no Mac at hand to see how it works there.
Does it work for you in the browser? Just open qrenco.de in it.

[2017-07-14 15:00] chubin commented on #46
@MauJFernandezUVR What happens if you do `curl wttr.in`?

[2017-07-14 15:05] gdoteof commented on #57
nah kinda looks like crap here too

![image](https://user-images.githubusercontent.com/151115/28217783-4fb117ee-6884-11e7-990f-eeaff2383a8d.png)

[2017-07-14 15:08] MauJFernandezUVR commented on #46
@chubin It works perfectly.

mauro@mauro:~$ curl wttr.in
Weather report: Buenos Aires, Argentina

     \   /     Sunny
      .-.      14-15 °C
   ― (   ) ―   ← 22 km/h
      `-’      10 km
     /   \     0.2 mm

And the rest of the forecast down here.

[2017-07-14 15:08] chubin commented on #57
Strange, it works well on my iPhone (it would be great if someone could it test it on some other Mac OS X hosts)

[2017-07-14 15:09] chubin commented on #46
Ok,  that means it is a bug in Bash-Snippets. @alexanderepstein will fix it.

[2017-07-14 15:16] alexanderepstein commented on #46
The bug derives from the check internet function so none of the apis are the issue. Can you run test file in the attached archive? I just need to know if the two variables are blank or have values when trying to access them from a file (and one that doesn't source .bashrc)
[test.zip](https://github.com/alexanderepstein/Bash-Snippets/files/1148837/test.zip)

[2017-07-14 15:19] chubin commented on #46
@alexanderepstein But Alex, it doesn't matter if you configured the proxy using environment variables or using some settings in the config file. It works if you start curl directly from the shell, and doesn't work if you start it using the script. That means that there is something in the script that breaks proxy support (that curl had).

[2017-07-14 15:20] MauJFernandezUVR commented on #46
`
mauro@mauro:~/Downloads$ ./test
./test: line 2: /home/mauro/.bash_profile: No such file or directory
http proxy variable: http://10.30.28.25:80
https proxy variable: http://10.30.28.25:80
`

And if I change the source to ~/.bashrc, I get no error:

`
mauro@mauro:~/Downloads$ ./test
http proxy variable: http://10.30.28.25:80
https proxy variable: http://10.30.28.25:80
`

[2017-07-14 15:23] alexanderepstein commented on #46
@chubin You are correct my solution was going to be checking for the existence of these variables $http_proxy or $https_proxy and if either of them exist I will not run my check Internet function and the rest will take care of itself.

Thanks @MauJFernandezUVR that works it is fine that there was an error this is related to an ongoing issue #56 which will be dealt with soon but I didn't want to br

[2017-07-14 15:26] alexanderepstein commented on #56
I will have to look into testing this further it seems a lot of the times my OS is causing issues for me that noone else seems to have. Which is fine but like in this case sometimes I implement workarounds for my case but clearly are not necessary for most other *nix machines. I will find a more reliable way to make this work on my distro and other platforms. My quick and dirty solution of suppres

[2017-07-14 15:29] chubin commented on #46
@alexanderepstein You should check Internet connection in some other way that implies that curl (or some other tool) can use proxies. (May be you should simply just curl something?)

[2017-07-14 15:31] alexanderepstein commented on #46
@chubin That makes a lot more sense as long as the method will also be compatible with ```wget``` and ```fetch```  will look into implementing a better check internet function instead of my proposed solution since I would still like to check for active internet even if the user has proxy setup.

[2017-07-14 15:33] MauJFernandezUVR commented on #46
@alexanderepstein No problem, thanks for your work! Just ask if you need something.

[2017-07-14 15:35] chubin commented on #46
Exactly, you could combine check of curl/fetch/wget presence on the host with the Internet connection test check. Do the first test first, and after it go to the second one (using the tool that you've found)

[2017-07-14 15:43] linyostorovovoltos commented on #57
I just checked on a Mac, although I normally use Linux, and can confirm that it does look like crap on Chrome and Safari, although it seems to appear to work correctly in Firefox. In normal Terminal, it appears to look fine and work fine, albeit not looking the best.

[2017-07-14 15:46] chubin commented on #57
@linyostorovovoltos Thank you for the help! What about iTerm2?

[2017-07-14 15:47] linyostorovovoltos commented on #57
@chubin I don't currently have iTerm2 installed, I'm going to get that up and running soon enough.

[2017-07-14 15:48] chubin commented on #57
@linyostorovovoltos Thank you very much! Could you please also post here how it looks like in your default terminal? I just want to understand it better (and it works for you as I can understand; that means that you can scan the QR-code with your smartphone)

[2017-07-14 16:03] linyostorovovoltos commented on #57
The iTerm does come out as bad looking and not working.
Right now GitHub isn't letting me upload the screenshots (?) :( Sorry for being unhelpful.

[2017-07-14 16:04] slhck commented on #56
Sure – happy to help, of course, or feel free to post on http://superuser.com/ or https://unix.stackexchange.com/!

A simple

    source ~/.bash_profile 2> /dev/null

should suffice as a workaround.

[2017-07-14 16:07] linyostorovovoltos commented on #57
iTerm2, and it works in normal Terminal. Here are the screenshots now:
![screen shot 2017-07-14 at 11 49 27 am](https://user-images.githubusercontent.com/24398526/28220305-f17b459c-688c-11e7-9710-56a8919fbbcb.png)
iTerm2 ^
![screen shot 2017-07-14 at 11 54 34 am](https://user-images.githubusercontent.com/24398526/28220311-f9d64bce-688c-11e7-9c25-c9dbc0a1ed1e.png)
Default ^

[2017-07-14 16:07] CMiksche opened #58 "Config File for API Key, URL, etc"
**Issue Label:**
* [ ] Bug
* [x] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

The API-Key and URL in the stocks module are hardcoded in the file stocks/stocks.
`https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=$1&apikey=KPCCCRJVMOGN9L6T`

I haven't checked the other files yet, but it seems to me that a config file would be better. You could simply enter your o

[2017-07-14 16:08] linyostorovovoltos commented on #57
Ok, now I feel bad, since the iterm2 actually does work!

[2017-07-14 16:10] chubin commented on #57
It probably depends on the smartphone, not every smartphone can read such QR-codes I suppose

[2017-07-14 16:11] linyostorovovoltos commented on #57
In fact, any QR reader I put any of the codes into works.

[2017-07-14 17:14] alexanderepstein commented on #46
After hearing it from multiple people I think I will just remove the checkInternet function all together. Although this does prevent confusing functionality the average user does not seem to care for this as much as they dislike the amount of time it adds just to check the internet. This would also fix this issue as the rest of the tools handle proxies.

[2017-07-14 17:18] chubin commented on #46
It is a good function, I would not remove it. It helps to debug further problem (if you have them).
Just fetch some url, say https://google.com, and if it doesn't work, the rest will not work also.
On the other hand, there could be some scripts, that don't need Internet connection at all, in this case they just switch some of them functions off

[2017-07-14 17:23] chubin commented on #46
Another option (probably the best one):
to add some script (`snippets-api-health` or something like that), that will check Internet connectivity,
tools availability and APIs' heatlh.
[code]

So you'll see what does work and what does not (and why)

[2017-07-14 17:32] alexanderepstein commented on #46
Added proxy support by using ```httpGet``` with 29ab12cd0ed03232b0f87cdd42006c1f47434c89

@chubin It doesn't seem like a bad idea to implement a health script incase anybody has any errors I can ask them to run that and it will give me some good information, thanks for the idea

[2017-07-14 17:35] alexanderepstein commented on #58
I may look into adding this.

For now the idea was don't have the user enter any API keys unless it is logical for it to be on a user to suer basis. This is why the taste script requires an API key and i don't just hardcode my key in because the recommendations are supposed to improve based on the users previous searches. Stocks however don't change no matter what user is accessing the information

[2017-07-14 17:38] alexanderepstein commented on #56
Implemented workaround c42c66c43902e7c6b2cbb4e4b32e509acf940a79

[2017-07-14 17:38] #56 closed

[2017-07-14 17:41] alexanderepstein commented on #57
Is ```imgcat``` native to iTerm2? If it isn't I am not sure if i want to implement the ability to get the qrcode as a png as I am doing my best to stay away from external dependencies.

[2017-07-14 17:42] chadfurman commented on #52
@alexanderepstein qrify works fine, as do a couple other tools.  Please don't close this issue.  Let's team up on an android-compatibility layer here.  I'm planning to get a superbook, and there's a lot of projects I'll want to port to Android -- this one included.

If you re-open this issue and assign it to me, I'll aim to work on it this weekend.

[2017-07-14 17:43] pahakalle opened #62 "Omdbapi is going private (used in movie)"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
So it seems Omdapi is going private in 05/08/17 (need Patreon to get api key), so that's going to make the movie script essentially not work.
Anyone happen to have any alternatives in mind?

![Omdapi frontpage announcement image](http://i.imgur.com/IV4OzQj.png)

### If its a bug make sure to includ

[2017-07-14 17:45] alexanderepstein commented on #62
I am aware of this but at the moment cannot find any movie API's that will remain free and opensourced. For now movies is going to work until the api stops the key and then the script will break permanently...

[2017-07-14 17:46] alexanderepstein commented on #52
I will reopen this for you to work on I am having trouble seeing the compatibility between my scripts and android but hopefully you can prove me wrong

[2017-07-14 17:46] chadfurman commented on #52
In response to your comments:

`I never intended for any of these tools to be used on android. In fact a lot of them would look pretty terrible there if I had to imagine it. `

The superbook will give a nice laptop-esque terminal, and these tools will be useful.

`Additionally the install script does not require sudo but it does assume /usr/local/bin exists and attempts to copy the tool over to th

[2017-07-14 17:51] alexanderepstein commented on #52
The ```weather``` script will definitely look bad. Ive tried this just by running ```curl wttr.in``` on Termux. Im not sure the crypt script will work at all does Termux support ```openssl```? ```ytview``` will definitely break as it relies on vlc, mplayer or one other video player i cant remember. ```geo``` *should* break as most of the functionality relies on running checks to see whether we are

[2017-07-14 17:52] pahakalle commented on #62
Seems like https://www.themoviedb.org/ would be a good/only alternative i could find

[2017-07-14 17:55] alexanderepstein commented on #62
They actually seem to have a decent API. When the movies script breaks hopefully I can have a replacement ready using this API.

[2017-07-14 17:56] chadfurman commented on #52
Not sure about weather, as I haven't tried it yet.  If it looks bad, I bet I can add an android display layer.

Crypt works beautiful.  I installed openssl via apt.  I think I had to open a new termux session but then it just worked.

ytview would be _hilarious_ to get working (looking at you, YouTube red...) -- we'll have to just add notices for things that don't work on android.  This is 100% ac

[2017-07-14 17:56] pahakalle commented on #62
also apparently Rotten Tomatoes also  has an api https://developer.fandango.com/Rotten_Tomatoes it needs applying tough

[2017-07-14 18:15] alexanderepstein commented on #52
It seems running ```uname -s``` does return ```Linux``` so there is actually a good chance ```geo``` works flawlessly.

[2017-07-14 19:04] pahakalle commented on #62
Of course using python to crawl a page like rotten tomatoes for info is also an option. theres a good framework  for that: https://scrapy.org/

[2017-07-14 19:41] MauJFernandezUVR commented on #46
I tested that commit and it works now!, except for cheat and qrify because the firewall has those URLs blocked.

Thanks!

[2017-07-14 19:43] chubin opened #64 "create cheat sheets for Bash-Snippets in cheat.sheets"
Create cheat sheets for all commands/scripts in Bash-snippets in cheat.sheets (https://github.com/chubin/cheat.sheets), so users could find the best Bash-Snippets usage examples using a Bash-Snippet tool (cheat) only (without man, google, stackoverflow etc.).

[code]

You can create cheat sheets directly here (in this ticket) and then I add them to cheat.sh (not the best option), but it would be b

[2017-07-14 19:45] chubin commented on #46
@MauJFernandezUVR What a strange firewall. It blocks absolutely legitimate sites. Do you know the reasons?

[2017-07-14 20:11] alexanderepstein commented on #46
Added in release <a href="https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.11.2">1.11.2</a>

[2017-07-14 20:11] #46 closed

[2017-07-14 20:13] lspitzner opened #65 "Document privacy considerations"
What info does each script expose to which external service(s) etc?

[2017-07-14 20:16] alexanderepstein commented on #65
This is a good idea. I am not sure exactly how to determine what information is sent to the API's during the requests. I will look into figuring this out, maybe someone else will be able to inform me how to determine this or will add this section to the README themselves

[2017-07-14 20:17] alexanderepstein commented on #64
Will look into adding this sometime soon, good idea.

[2017-07-14 20:40] gdoteof commented on #57
i don't believe it is.  i was actually able to read these using my phone after a few tries

[2017-07-15 01:26] alexanderepstein opened #67 "Add bash-snippets to mainstream linux package managers"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [x] Enhancement
* [ ] New component

**Description:**
Would be awesome to have the tools uploaded for use with ```pacman``` ```yum``` and ```apt```. Added a catch in my update script to see if user installed bash-snippets through a package manager and tell the user to update though their package manager.

**OS and OS version:**
* [x] Linux 32 Bit
* [x

[2017-07-15 05:57] karanrajpal14 opened #68 "ytview cannot play videos with ads"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
Ubuntu 17.04

Can't get the ytview to work for me. I run `ytview linkin park` and select the first video which makes an

[2017-07-15 09:19] m1guelpf commented on #67
:+1:

[2017-07-15 11:08] monokh commented on #68
I had a look at this to try to fix it. The bash script is working as expected and all it does is pass the youtube url. The problem is with VLC which is unable to start the stream.
The pattern i saw is that usually these are videos that have ads. Either way i think this one is for VLC or to implement another method of playing youtube videos?

[2017-07-15 13:21] alexanderepstein commented on #68
I have noticed this as well and like @monokh said I am pretty sure it is only for videos with ads. I don't think any video streaming player will be able to handle this.

[2017-07-15 15:42] monokh commented on #68
@alexanderepstein I was checking the options, unlikely there is a solution using only the media player.
VLC's youtube extension is brittle and is not kept up to date as youtube modifies things on their end however [youtube-dl](https://github.com/rg3/youtube-dl/) does a very good job at this.

2 options there is:

- Save to tmp location and send file to `vlc`
- Stream directly to vlc `youtube-dl "h

[2017-07-15 17:40] alexanderepstein commented on #67
@m1guelpf Do you have any knowledge as to how to upload the project to any of the three package managers listed above? I am having trouble figuring it all out.

[2017-07-15 17:50] m1guelpf commented on #67
@alexanderepstein I only know how to add it to apt, you only have to follow create a PPA following [this guide](https://help.launchpad.net/Packaging/PPA)

[2017-07-15 18:41] alexanderepstein commented on #57
Okay, going to close this issue only because it seems to be working now and the only viable solution to fix the issue would be to generate pngs which i do not want to implement because of the dependency

[2017-07-15 18:41] #57 closed

[2017-07-15 20:09] alexanderepstein commented on #68
Hmm the first option seems viable if I or anyone else can find a way to download the video without a dependency such as ```youtube-dl``` then it will be implemented. The issue being that if the video is large it will be a very long time until you can view the video whereas streaming circumvents this problem.

[2017-07-16 01:27] alexanderepstein commented on #49
Added in <a href="https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.13.0"> Version 1.13.0 </a>

[2017-07-16 01:27] #49 closed

[2017-07-16 07:46] karanrajpal14 commented on #68
I'm a bit curious now. There are a few apps on Android such as [NewPipe](https://github.com/TeamNewPipe/NewPipe) which can stream YouTube videos without ads. Any idea how they're achieving this? Maybe something similar can be done here?

[2017-07-16 08:18] rsouthpaw opened #70 "todo not working"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
while all other commands are working perfectly fine, todo command gives error.
-bash : todo: command not found

**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
macOS SIerra

[2017-07-16 08:44] Anatoli4www opened #71 "ytview cannot work on Windows 10"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

BASH
### › ytview -c
Error: no supported video player installed (vlc, mpv or mplayer)

**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [x] Windows 64 Bit

OS Version:
Windows 10

[2017-07-16 09:18] alexanderepstein commented on #71
It should be supported if you install vlc under the windows bash subsystem with ```sudo apt-get install vlc```

[2017-07-16 09:19] alexanderepstein commented on #70
Can you tell me what version of bash-snippets you are using by running any working tool with the -v option?

[2017-07-16 11:00] Dannyzen opened #72 "How is this repo's poll in the readme built?"
Noticed the nifty poll in the bottom of the readme and was curious about how it was built.

[2017-07-16 12:14] vitorgalvao opened #74 "It’s unclear the poll is live; results are likely schewed"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [x] Enhancement
* [ ] New component

**Description:**

The poll in the README is neat. However, it’s not immediately apparent how it works; it’s not common for Github READMEs to be interactive. As such, I thought the poll was actually an image that was linking somewhere else (common solution in Github READMEs) and clicked anywhere to go the website of

[2017-07-16 14:19] alexanderepstein commented on #72
Using this https://github.com/tj/gh-polls

[2017-07-16 14:19] #72 closed

[2017-07-16 14:22] alexanderepstein commented on #74
I had a sneaking suspicion of this as I have had two polls (the second one to account for new tools) during the transition between these polls the order of the tools changed yet still the result is the most popular one is the first one in the list.

I don't really know what to do about this other than to possibly be more clear in the readme or just get rid of it all together. I just thought it wou

[2017-07-16 14:23] alexanderepstein commented on #71
Did the above fix work for you? @Anatoli4www

[2017-07-16 14:37] alexanderepstein commented on #70
If you are using homebrew I believe that the install has just not been updated.

 Otherwise If i had to guess you ran the updater but not a new install. Whenever you update the tool only updates installed tools and will never install any tool that is not already currently present on the system. So upgrading from 1.12.0 to 1.13.0 will not install ```todo``` for you. Recloning the repo and running t

[2017-07-16 14:57] vitorgalvao commented on #74
Two different suggestions:

+ Don’t make the full line clickable. Instead, add a “vote for this one” on each line, and only make that clickable.
+ Keep it as is, but don’t make a click count the vote immediately. Instead, redirect to a page that says “you’re voting for {{too name}}” with “yes, count my vote” and “no, I want to vote for something else” as options, and only count the vote after choo

[2017-07-16 15:11] rsouthpaw commented on #70
Yes, I used homebrew earlier. Now I have installed todo using install.sh. It works now. Thanks! 👍

[2017-07-16 15:15] alexanderepstein commented on #70
No problem, glad it works now!

[2017-07-16 15:15] #70 closed

[2017-07-16 15:17] alexanderepstein commented on #74
The only issue is that I did not create the code that goes behind the polls only the poll itself https://github.com/tj/gh-polls so i do not have control over any of what you mentioned. My only hope would be to find another service that could let me do something similar.

[2017-07-16 17:44] monokh commented on #68
If the youtube video can be downloaded, there's no reason why it couldn't be streamed to VLC directly. You could use an online youtube downloader. The problem is that these sites are often short lived.

All the youtube stream/download apps implement the same method to figure out the real video url of a youtube video. The issue is that this is often changing as youtube changes it's backend to preve

[2017-07-16 18:28] Anatoli4www commented on #71
It is not that simple)))

[2017-07-16 19:15] Anatoli4www commented on #71
1)https://sourceforge.net/projects/vcxsrv/
2)› echo "export DISPLAY=:0.0" >> ~/.zshrc
3)

[code]
Does not start(

[2017-07-16 20:48] alexanderepstein commented on #71
I don't really fully understand the first link? I cant say I have tested these a whole lot but I was told that almost all of these scripts have been tested under the official bash subsystem and nothing more. Can you try just running ```vlc``` and let me know if that opens ```vlc``` if not there is nothing I can do otherwise there might be a bug I can solve.

[2017-07-16 20:55] #8 closed

[2017-07-16 22:15] alexanderepstein commented on #74
@tj might want to see this just to see some of the issues of the polls in action

[2017-07-16 22:25] alexanderepstein commented on #58
Don't think I will be adding this for now, If I get any API limitation issues I will reopen this issue and add a config file.

[2017-07-16 22:25] #58 closed

[2017-07-16 22:25] #43 closed

[2017-07-16 22:36] alexanderepstein commented on #74
Just going to get rid of the poll to solve this issue as clearly the data isn't really usable anyways at this point.

[2017-07-16 22:36] #74 closed

[2017-07-16 22:40] alexanderepstein commented on #68
@monokh
I strongly agree with

The idea of these scripts is to be simplistic and it would be to hard to account for this due to the nature of youtube trying to stop people from doing just that.

[2017-07-16 22:41] #68 closed

[2017-07-17 00:15] alexanderepstein commented on #64
Created cheatsheets <a href="https://github.com/chubin/cheat.sheets/pull/3">here</a>.

[2017-07-17 03:49] tj commented on #74
Figured programmers could deduce that it has a pointer thus you can click it haha. Not really concerned though it was just a fun Sunday project, it's more clear when it's in an issue asking for opinions

[2017-07-17 07:22] duraki opened #76 "Stocks fails by not grabbing symbol"
**Issue Label:**
* [x] Bug

**Description:**
**Stocks** for some reason returns unvalid stock symbol.

[code]

Tested when using `AAPL` and `Tesla`.

[code]

**OS and OS version:**
* [x] Mac (Sierra, latest update)
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version: 10.12.5 (16F73)

[2017-07-17 07:29] damekr opened #77 "Proxy Support"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Support for proxy from env variables.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
Arch Linux

[2017-07-17 07:39] Anatoli4www commented on #71
[code]
Vlc does not start, there is a problem with the sound. Mplayer reports this, but runs ...)))

[2017-07-17 09:18] vitorgalvao commented on #74
That’s the whole point. People do click it (which is why votes get registered) but no one is expecting a vote to be registered immediately, because that’s inconsistent with Github capabilities. If most people are failing to use properly, than it’s bad design on the poll’s part, not a failure in deduction by the user.

[2017-07-17 09:43] chubin commented on #8
The weather for the day is not yet supported. It will be supported in future.

[2017-07-17 09:56] chubin commented on #64
Thank you! I've merged it, it should be avaiable now.
Please try:
[code]

Could you please also (1) give a short one line description
for each tool?

[code]

and also (2) we need the parent-snippet for the whole tools "Bash-Snippets"
with a small description how to install and use the snippets (because otherwise you don't know from the cheat sheets where you can get these tools).

Can you create s

[2017-07-17 11:00] alexanderepstein commented on #76
Can you run ```bash -x stocks AAPL```and post the output here?

[2017-07-17 12:11] alexanderepstein commented on #77
Proxy support should have been added with 29ab12cd0ed03232b0f87cdd42006c1f47434c89 can you tell me what tool you are having issues with?

[2017-07-17 12:43] duraki commented on #76
[code]

The output is rather large so I will leave this [gist](https://gist.githubusercontent.com/duraki/1508ef3ece01e38af06eb8195cdad889/raw/949a4f1e1c22586a906dfddfb13c0bb670616552/bash_snipp.out.txt) here.

Also, installed over Homebrew.

[2017-07-17 12:49] alexanderepstein commented on #76
It seems you get caught in some kind of infinite loop while trying to grab the stock symbol just posting the beginning of my output.
[code]

The line ``` python -c 'import sys, json; print json.load(sys.stdin)['\''ResultSet'\'']['\''Result'\''][0]['\''symbol'\'']'``` only runs once for me. I will continue to look into this.

[2017-07-17 13:13] tj commented on #74
Sure

[2017-07-17 16:31] duraki commented on #76
Ah I see. I think it might be with Yahoo service. Seems like it grabs my current location, and resolve a different URL based on IP, therefore parsing is not properly configured for that location page.

This is only a speculation.

I'll try to dig inside the script myself too.

[2017-07-17 18:16] alexanderepstein commented on #64
Added description to each cheatsheet and created a bash-snippets cheatsheet here https://github.com/chubin/cheat.sheets/pull/4

[2017-07-17 20:15] alexanderepstein commented on #71
Huh im curious if there is some audio dependency for vlc that wasn't listed as a dependency when you ran ```sudo apt install vlc```. Otherwise I am not really sure what i could do to resolve this issue

[2017-07-17 21:27] chubin commented on #64
I've updated the cheat sheets according to the cheat sheets syntax rules + renamed `bash-snippets` to `Bash-Snippets`.
Now you can list all bash-snippets available without installing them (perfect for the new users, that want to get an overview of the Bash-Snippets from the console). Just issue:

[code]

Consider adding this command to the main README.md of Bash-Snippets.
People should know how th

[2017-07-18 06:18] damekr commented on #77
Yep, you right I was having earlier version because I made the installation from some tutorial. From master branch the newest version works!

[2017-07-18 06:18] #77 closed

[2017-07-18 08:34] mirfilip commented on #18
I have installed it as @ChainsawBaby pointed (from brew tap) and it seems it doesn't have all the scripts:
[code]

cloudup, siteciphers, todo are missing.

[2017-07-18 08:36] ChainsawBaby commented on #18
@mirfilip you are correct, give me a few minutes, I'll update the formula

[2017-07-18 08:39] ChainsawBaby commented on #18
@mirfilip It should now be fixed. Could you please remove the brew, and install it again?
[code]

[2017-07-18 09:20] mirfilip commented on #18
@ChainsawBaby Yup, fixed, thx!

Just for other people stumbling upon this: neither of below seemed to update the tapped formula:
[code]
I neede to `uninstall` & `install --force`.

[2017-07-18 09:28] ChainsawBaby commented on #18
@mirfilip I updated the formula again, and added a revision version to it. So anyone whom does an upgrade, will get the last upgrade of the brew.
So if you run `bubu` ( aliased for `brew update && brew outdated && brew upgrade && brew cleanup`), it will be updated

[2017-07-18 11:08] alexanderepstein commented on #77
Glad to hear it works for you :smile_cat:

[2017-07-18 18:40] MauJFernandezUVR commented on #46
@chubin I don't know, Websense firewall criteria, it has cheat.sh blocked as "Uncategorized". Maybe you can contact them to clarify that your web is not malicious or something like that.

[2017-07-18 18:59] chubin commented on #46
@MauJFernandezUVR You are the only cheat.sh user (so far) who reported this problem. I hope that it is your local issue

[2017-07-18 19:03] m1guelpf commented on #67
@alexanderepstein If you give me the .deb of the snippets, I can upload them for you.

[2017-07-18 19:04] alexanderepstein commented on #67
I have been attempting to create the deb but am having issues I can keep trying and let you know.

[2017-07-20 09:12] mirfilip opened #83 "Todo fails to add a new task when using -a"foo" in bash"
**Issue Label:**
* [x] Bug

**Description:**
When adding a new todo task, the notation `todo -a 'foo'` works fine. When using `todo -a'foo'` or `todo -a"foo"`, the exit code is `0` but the task is not added:
[code]

Usually *nix tools allow a space between an option and an argument. Regardless, if that's not supported, exit code 0 shouldn't be returned as operation hasn't succeeded.

### If its a

[2017-07-20 12:18] alexanderepstein commented on #83
Just to clarify

This tool does allow a space between an option and an argument. And it seems thats what you mean because the rest of the issue is based around the fact that it doesn't work without the space. You are correct this is not supported, the problem is when you run ```todo -a Some task``` the way I grab the arguments is ```"${*:2}"``` which grabs all arguments starting with ```$2``` all

[2017-07-20 14:01] mirfilip commented on #83
@alexanderepstein I see.

In my view, this should raise an error that "afoo" argument is not supported and return non-zero exit code.

[2017-07-20 22:10] ashishranjan2404 commented on #67
I think we need to start by creating an rpm .

https://docs.fedoraproject.org/en-US/Fedora_Draft_Documentation/0.1/html/Packagers_Guide/sect-Packagers_Guide-Creating_a_Basic_Spec_File.html

[2017-07-21 13:52] alexanderepstein commented on #83
I agree with you here and have added checks for this case in this commit 935c92052d0176ceb3c7908b34b5ccadb1bf35d7

[2017-07-21 13:52] #83 closed

[2017-07-21 15:27] westonganger opened #85 "Add option to backup only source repositories with Cloudup"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [x] Enhancement
* [ ] New component

**Description:**
I went to backup my repos using `cloudup` but noticed even my old forks were being backed up. I would like to be able to only backup my source repositories using something like a `--source` option. Possibly adding a `--fork` option would also help make it more robust.

[2017-07-21 16:04] alexanderepstein commented on #85
When I was creating the tool I didn't have any forked repositories and I had assumed the api for GitHub would only be for source repositories. Clearly this is not that case and I should support some options to handle this. Will be added soon.

[2017-07-21 16:53] westonganger opened #86 "cloudup should only create & update one bitbucket repo per github repo"
**Issue Label:**
* [ ] Bug
* [x] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Currently `cloudup` creates repos with timestamped names. So every time you backup it creates a new repo for the new timestamp. It would be much more preferable to have it backup the repo with the same name as github (ie. Bash-Snippets --> Bash-Snippets) and continuously apply updates to the 1 bitb

[2017-07-22 03:39] alexanderepstein commented on #85
Added with f40347cda942a88b69e85cc08b17f151bb405f9d

Works by allowing a -s option which will only backup repositories that you did not fork

[2017-07-22 03:41] alexanderepstein commented on #86
Added with c1b30162af477453aabc37e6c2345d8f288736ff

Works by changing the default behavior to the one stated in the issue and then making the current default behavior an option. By using ```-t``` it will append the a timestamp to the repo name always guaranteeing a unique bitbucket repository. Without the use of the ```-t``` option it will set the remote url to just the project name. This in turn

[2017-07-22 11:28] alexanderepstein commented on #86
Released in <a href="https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.14.0">Version 1.14.0</a>

[2017-07-22 11:28] #86 closed

[2017-07-22 11:28] alexanderepstein commented on #85
Released in <a href="https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.14.0">Version 1.14.0</a>

[2017-07-22 11:28] #85 closed

[2017-07-22 11:29] alexanderepstein commented on #83
Released in <a href="https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.14.0">Version 1.14.0</a>

[2017-07-22 15:06] alexanderepstein commented on #86
Fixed all bugs related to this with <a href="https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.14.2">Version 1.14.2</a>

[2017-07-22 23:35] alexanderepstein commented on #52
I believe #84 solves the issue with the shebang ```#!/bin/bash```

[2017-07-22 23:47] alexanderepstein commented on #67
@ashishranjan2404 I dont have the correct linux distribution to be able to create an rpm I only have the ability to create .debs

[2017-07-23 00:35] chadfurman commented on #52
great!

[2017-07-24 01:23] alexanderepstein commented on #18
3 days away from being able to add this to homebrew core!

[2017-07-24 17:24] akantak commented on #76
@alexanderepstein
Same here, installed with homebrew. It happens because symbol variable [here](https://github.com/alexanderepstein/Bash-Snippets/blob/master/stocks/stocks#L209) is not set. To tell the truth no variable that is using python will be set.
It took me a long while to debug it, but now I know why it doesn't work. The trouble starts [here](https://github.com/alexanderepstein/Bash-Snippe

[2017-07-24 17:52] alexanderepstein commented on #76
Why do you think that is?

This was added because of #38 I am not quite sure why this doesn't work, on my linux machine I get ```configuredPython=python2``` and the commands calling python work perfectly. I think I may have fixed this by adding a OS check before creating my python function and the same OS check when I go to run ```getConfiguredClient```.

I am curious if the ```taste``` tool works

[2017-07-24 18:02] alexanderepstein commented on #76
Interesting it seems like the same issue is probably occurring but no error is ever being thrown I will add the same check to that script as well.

[2017-07-24 18:02] akantak commented on #76
@alexanderepstein and just tested fix for stocks you mentioned. It is working fine, thanks!

[2017-07-24 18:03] alexanderepstein commented on #76
Awesome, thank you for helping me pinpoint the issue, will release a new version by the end of today!

[2017-07-24 19:52] alexanderepstein commented on #76
Released in [Version 1.14.3](https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.14.3) Will be added to homebrew once @chainsawbaby updates his repository.

[2017-07-24 19:52] #76 closed

[2017-07-25 06:16] retokromer commented on #18
It depends also on the popularity. We have our own tap at [AMIA Open Source](https://github.com/amiaopensource/homebrew-amiaos). The last formula that we moved to the core has been `qcli`, the CLI version of [QCTools](https://bavc.org/preserve-media/preservation-tools).

[2017-07-25 07:28] alexanderepstein commented on #18
@retokromer is this not popular enough to add to homebrew core? I am asking sincerely since I really don't know :confused:. It seemed the main issue was the original pull request for adding this to the core was that the upstream repo was only 4 days old at the time, and the test part of the formula wasn't testing the functionality of the scripts.

[2017-07-25 08:08] mirfilip commented on #18
@alexanderepstein Of course it is popular enough. There are 4969 stars on this repo. I know stars are not full story but I've seen plenty of niche tools added to homebrew-core.

Anyway, if you submit a PR to homebrew-core, there are people to decide whether it's mainstream enough to be included.

[2017-07-25 08:17] alexanderepstein commented on #18
@mirfilip Okay glad to hear it :smile_cat:

The only thing is that I am not supposed to be the one who submits a PR, and I know that the testing section of the formula be improved. I would work on the tests myself but I have no experience with Ruby.

From the [docs](http://docs.brew.sh/Acceptable-Formulae.html)

From the original [pull request](https://github.com/Homebrew/homebrew-core/pull/15107)

[2017-07-25 08:27] retokromer commented on #18
@alexanderepstein There are different criteria the maintainers consider. Yet by my remark I was **_not_** suggesting that you should not try, on the contrary please try!

[2017-07-25 09:48] linuxenko opened #91 "Switch encryption in crypt to gpg"
I've tried the enc/dec snippet and it makes me sad - it makes very weak encryption.

Then i open the script and it contains the following:
[code]

Lol )) Remove it or use `gpg` instead )

[2017-07-25 09:53] alexanderepstein commented on #91
Can you explain why this encryption is weak and why gpg is better. (Just laughing about it doesn't really prove your point at all)

[2017-07-25 09:57] linuxenko commented on #91
Decription of such method takes about 1 minute. There is such [discussions](https://stackoverflow.com/questions/16056135/how-to-use-openssl-to-encrypt-decrypt-files#comment61438116_16056298) in internet that describe with details what a problem is with weak encoding.

[2017-07-25 09:59] alexanderepstein commented on #91
Can you link me to anything?

Thats not that long....

[2017-07-25 10:02] linuxenko commented on #91
do you asking me share links to such hacking software ? hm, i dont think i will

[2017-07-25 10:11] alexanderepstein commented on #91
I never asked for that? Not sure why you are being a why you are acting so petulant.
I will look more into using GnuPg at some point. If you are trying to have people help you or do something for you, it would be in your best interest to act the complete opposite of how you have so far.

[2017-07-25 10:11] #91 closed

[2017-07-26 12:19] alexanderepstein commented on #18
Should be able to add to homebrew core starting today :tada:

[2017-07-26 12:22] retokromer commented on #18
I updated this morning to v1.15.0. I guess you can copy&paste https://github.com/ChainsawBaby/homebrew-formula/pull/2 (if not done yet).

[2017-07-26 12:28] alexanderepstein commented on #18
Yeah that should work, but according to homebrew

So I am not sure if i should be the one to submit the PR. If they would accept it from me I will gladly do it.

[2017-07-26 13:56] retokromer commented on #18
Yes, you can copy&paste and submit it a PR.

[2017-07-26 15:44] ChainsawBaby commented on #18
I will see if I have time to create a pull request to homebrew core tonight. I'm on vacation till Sunday

[2017-07-26 15:46] retokromer commented on #18
@ChainsawBaby : It’s already [on track](https://github.com/Homebrew/homebrew-core/pull/16076): @alexanderepstein is doing it!

[2017-07-26 15:51] alexanderepstein commented on #18
Just having trouble figuring out how to write the tests. And my build is failing because I am trying to copy my files over to directories that don't exist, how can I create these directories using Ruby?

[2017-07-26 16:38] retokromer commented on #18
@alexanderepstein You are too fast!

[2017-07-26 16:40] alexanderepstein commented on #18
@retokromer lol I try! Still need to write the tests however if either of you are willing and able to help

[2017-07-26 16:42] alexanderepstein commented on #18
I only need to test the 3 most popular tools.

[2017-07-26 17:25] alexanderepstein commented on #18
I wrote tests for the top 3 tools and it was [merged](https://github.com/Homebrew/homebrew-core/pull/16076) into homebrew-core :tada:

[2017-07-26 17:25] #18 closed

[2017-07-26 17:26] alexanderepstein commented on #18
Thank you @ChainsawBaby and @retokromer for maintaining the tap :smiley_cat:

[2017-07-26 20:09] ChainsawBaby commented on #18
@alexanderepstein Sweet! I'll keep my tap open for a few weeks in case someone doesn't notice the change

[2017-07-27 01:40] nathanbraddock opened #96 "New"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:

[2017-07-27 02:27] alexanderepstein commented on #96
Uhhh do you have an issue to report?

[2017-07-27 02:27] #96 closed

[2017-07-27 13:27] retokromer commented on #67
I presume, that now, as there is a regular brew formula for Bash-Snippets, not only Homebrew (on macOS) but also Linuxbrew (on various Linuxes) will work fine. Wait some days and then test, because Linuxbrew is some days «behind» Homebrew.

[2017-07-27 13:57] retokromer commented on #67
FYI: I confirm that with
[code]
the installation works fine on Ubuntu 16.04.2 LTS and Slackware 14.2.

[2017-07-27 17:07] alexanderepstein commented on #67
Awesome! Going to add this to the readme

[2017-07-27 17:09] retokromer commented on #67
I would suggest to wait until the recent formulae updates from Homebrew have been merged info Linuxbrew (in average 3–4 days), because I don’t know how long the alternate tap will be maintained.

[2017-07-27 19:13] alexanderepstein commented on #67
Fair enough ill wait then

[2017-07-27 19:43] jakewmeyer commented on #65
@alexanderepstein I can make a pass on everything and compile it to a list with information used in each script.

Probably should be a link to a separate markdown document, with a link in the readme for those actually interested, to keep the readme from getting too cluttered.

[2017-07-27 20:07] alexanderepstein commented on #65
Will definitely do it that way thanks for helping out!

[2017-07-28 14:27] whiteadam opened #109 "Rename Cheat to prevent Conflict"
**Issue Label:**
* [x] Enhancement

**Description:**
I was wondering if `cheat` could be renamed so that it doesn't conflict with this version of cheat: https://github.com/chrisallenlane/cheat

I actually use the above version quite often. To check it out, `brew install cheat` on Mac.

### If its a bug make sure to include this section.
**OS and OS version:**
* [X] Mac

* [X] Linux 64 Bit

OS Vers

[2017-07-28 14:39] alexanderepstein commented on #109
I will look into doing this, it is hard for me to change the name of the tool only because of the way my main install,update and uninstall pipeline works. I will try to find an easier way than the one I am thinking of now and maybe it won't be so hard. Thanks for letting me know about the name conflict! (Any new name suggestions welcome)

[2017-07-28 14:47] alexanderepstein commented on #109
Can you run ```which cheat``` when bash-snippets is not installed? I want to see where your version of cheat stores their file, might help me in this process.

[2017-07-28 14:57] whiteadam commented on #109
Here you go:
[code]

As for new names... cheats, cheatr, cheatcode? I kindof like cheatcode :)

[2017-07-28 15:00] alexanderepstein commented on #109
Awesome thanks, I like those names we will see which one it becomes :smile_cat:

[2017-07-29 08:44] alexanderepstein commented on #109
I am thinking a possible solution instead of renaming cheat would be to allow for parameters to be passed to the install that allows you to install certain tools or choose not to install certain tools and the default would be a complete install.

So something like ```brew install bash-snippets --without cheat``` or ```brew install bash -snippets --only cloudup```. Do you think that would solve the

[2017-07-29 09:51] alexanderepstein commented on #67
Created AUR package at https://aur.archlinux.org/packages/bash-snippets/

[2017-07-29 22:42] alexanderepstein commented on #64
Would you be able to submit a pull request adding the cheat sheets to this repository? I just want to make sure it is done correctly.

At the moment none of the tools support bash completion, I don't personally use this too often which is why it's not there. I have never really taken the time to learn it.

[2017-07-30 19:20] alexanderepstein commented on #109
With the new brew formula you'll be required to ```brew unlink```, but not uninstall, the conflict before installing, like this:
[code]
Note you can still use the other cheat at that point:
[code]

[2017-07-30 19:45] whiteadam commented on #109
Hah! Nice, thanks Alex... Now I can cheat my way through life :)

[2017-07-30 19:45] #109 closed

[2017-07-31 17:30] alexanderepstein commented on #67
@m1guelpf I have a deb file now that actually seems to work on install and is current as of version 1.16.2 I had to upload it [here](https://wetransfer.com/downloads/36c9e07f1c2e7bc1e0448bd56d8551b520170731172834/f33fff0db7291f2b3cfe1c6cf646c0cc20170731172834/db8bcb) since github won't let me attach .debs to comments

[2017-07-31 17:36] alexanderepstein commented on #67
Using [fpm](https://github.com/jordansissel/fpm) to create an rpm from the deb created by [Debreate](https://antumdeluge.github.io/debreate-web/). I dont have an rpm compatible system so I cannot test this and confirm it works. The rpm has been uploaded [here](https://wetransfer.com/downloads/3b93a1899febb4a973d5f3dbd90d9fa620170731173432/95720a650810d852218203bb5f56d15120170731173432/b81c03)

[2017-07-31 19:24] m1guelpf commented on #67
@alexanderepstein I can't do it now... can you ping me again in a few days?

[2017-07-31 19:59] alexanderepstein commented on #67
@m1guelpf definitely! :smile_cat:

[2017-08-01 15:39] hxgdzyuyi opened #112 "`checkInternet()` is broken in some countries."
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

Bash-Snippets use `httpGet google.com` in `checkInternet()`.

People have been unable to access certain Google products and services at some point in more than 30 countries.

See more: https://www.google.com/transparencyreport/traffic/#expand=CG

[2017-08-01 15:52] alexanderepstein commented on #112
Will use a webservice that works worldwide, possibly thinking github itself?

[2017-08-02 02:31] alexanderepstein commented on #112
Seems like github was banned but is has been removed from the great red firewall. Will make this switch for the next release.

[2017-08-02 02:47] alexanderepstein commented on #112
Should be fixed in a5fdff610c2e1bcd067ab498bf83e8635da67745

[2017-08-02 06:01] retokromer commented on #67
@alexanderepstein FYI: It’s now also in the Linuxbrew pipeline, and will be regularly updated from Homebrew with a few days delay.

[2017-08-02 06:11] alexanderepstein commented on #67
@retokromer I did see that it was added there, however they are using a formula that wasn't even accepted by homebrew-core, will wait until they update to at least 1.17.2 to put this on the readme.

[2017-08-02 06:13] alexanderepstein commented on #52
Hey just wanted to see how this was going?

[2017-08-02 06:19] retokromer commented on #67
@alexanderepstein Indeed, it’s better to add the information only once all is fine, yet it’s moving forward now.

[2017-08-02 11:18] N3V0N commented on #62
I can configure my script according to your need https://github.com/N3V0N/TMDb

[2017-08-02 11:20] N3V0N opened #113 "bc not native to all OS's"
* [x] Bug

**Description:**

What is the base currency: BTC
What currency to exchange to: USD
What is the amount being exchanged: 2
/usr/local/bin/cryptocurrency: line 169: bc: command not found
=========================
| BTC to USD
| Rate: 2698.42
| BTC: 2
| USD:
=========================

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Linux 64 Bit
Parrot Securi

[2017-08-02 12:14] alexanderepstein commented on #113
Wow, I don't think I have encountered an OS that does not have bc natively installed. Would you be able to run the following lines in your terminal. I want to see if you can perform math in the bash only way.
[code]
If this prints out ```2``` then we are good to go and I can fix the issue. If it doesn't produce a ```2``` the only thing I could think of would be to install ```bc``` on your system.

[2017-08-02 12:15] alexanderepstein commented on #113
The ```todo``` tool should have similar problems, and so should any other tool that uses bc

[2017-08-02 12:33] alexanderepstein commented on #113
Ah i had to use bc bash cannot do any math outside of integers. So converting between currencies would only be an approximation (could only do the math if I truncate the decimals).

[2017-08-02 13:06] alexanderepstein commented on #113
This commit d8980a0a9c906eb2be3d392eaafb4bf97d40b74f should fix the issue for the most part. It will truncate the decimal off the exchange rate and perform the conversion then.

[2017-08-02 14:32] alexanderepstein commented on #113
running ```sudo apt-get install bc``` would be better however as the other fix will result in an approximation rather then a definite answer.

[2017-08-02 14:39] N3V0N commented on #113
I think that 'bc' wasn't preinstalled properly because the result of `test=$(echo 1 + 1 | bc ) && echo $test || echo Error` was 2 but the script did not work, so I installed it by `sudo apt install bc` and the scripts work

[2017-08-02 14:52] alexanderepstein commented on #113
Huh interesting, well at least they work for you now. I have accounted for bc not existing on the system, but I cannot account for if it doesn't work properly. Thanks for making me aware of this issue :)

[2017-08-02 15:00] N3V0N commented on #113
I am Running Parrot Security OS 64 bit jolly rogers

[2017-08-02 19:40] alexanderepstein commented on #62
Using the the script by @N3V0N and modifications by me I have a backup movies script ready. For now it will sit in the movies folder under the filename [tmdb](https://github.com/alexanderepstein/Bash-Snippets/blob/master/movies/tmdb). If the movies script ever breaks I will rename it to ```movies.deprecated``` and rename ```tmdb``` to ```movies```. ```tmdb``` could be improved upon by grabbing mor

[2017-08-02 19:40] #62 closed

[2017-08-02 19:40] alexanderepstein commented on #113
Fixed in [v1.17.3](https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.17.3)

[2017-08-02 19:40] #113 closed

[2017-08-02 19:41] alexanderepstein commented on #112
Fixed in [v1.17.3](https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.17.3)

[2017-08-02 19:41] #112 closed

[2017-08-03 07:38] retokromer commented on #67
@alexanderepstein FYI: 1.17.2 is now on Linuxbrew.

[2017-08-03 12:26] alexanderepstein commented on #67
Thanks for the heads up it has been added to the README

[2017-08-03 16:14] alexanderepstein commented on #71
Can you try running ```sudo apt install alsa-base```. Possibly it is just not installed but should already be.

[2017-08-04 09:57] jschneider opened #116 "cloudup not working when using email address as login"
I tried using cloudup and entered my email address as bitbucket user name.
It tried to login into the server from the email address.
I think there should be some kind of escaping for the "@" part?

[2017-08-04 12:05] alexanderepstein commented on #116
One cause might be because http uses @ to split up the credentials from the URL, I think the problem comes up when it goes to create the repository. Even if it were created correctly when you set the remote url it sets it to ```username:passwordbitbucket.org@bitbucket.org/username/repoName```.
The second instance of the username variable actually **needs** to be a username and cannot be an email.

[2017-08-04 12:06] alexanderepstein commented on #116
Does it work when you use your actual bitbucket username?

[2017-08-04 12:46] alexanderepstein commented on #67
Recreated deb and rpm for version 1.18.0 @m1guelpf
Deb: [here](https://transfer.sh/suLZp/bash-snippets_1.18.0_all.deb)
Rpm: [here](https://transfer.sh/mNH0O/bash-snippets-1.18.0-1.noarch.rpm)

[2017-08-04 12:53] jschneider commented on #116
Yes, of course. It works with my "normal" bitbucket user name without "@"

[2017-08-04 13:04] m1guelpf commented on #67
@alexanderepstein You also need to upload the PGP key you used to sign the debs to the Ubuntu keyserver (keyserver.ubuntu.com) and give me the ID.

[2017-08-04 13:05] alexanderepstein commented on #116
I  don't think there is much for me to do here. The only fix would be to try to scrape your username from your email, but this seems very unnecessary for the edge case in which the user enters an email instead of a username. If I hear of this again from somebody else I may look into scraping the username (if that is even possible). Thanks for letting me know of this issue :+1:

[2017-08-04 13:05] #116 closed

[2017-08-04 13:21] alexanderepstein commented on #67
You want my public pgp key? I have to send you a new deb as the old one isn't signed.

[2017-08-04 13:24] alexanderepstein commented on #67
I uploaded the public key to the keyserver

[2017-08-04 15:26] m1guelpf commented on #67
@alexanderepstein If you uploaded the key to the keyserver, I only need the ID and a signed deb, at least to start.

[2017-08-04 15:35] alexanderepstein commented on #67
Key ID: 1B96B616ABC0AC68
Signed deb: [here](https://transfer.sh/m4TbO/bash-snippets_1.18.0_all.deb).
Signed using: ```debsigs --sign=origin -k 1B96B616ABC0AC68 bash-snippets_1.18.0_all.deb```
Wasn't able to verify that it was signed, but no error was returned.

[2017-08-06 19:35] alexanderepstein commented on #71
Not an issue (at least not reported) with the official bash subsystem, which is the only supported way to run these scripts on windows so for now this issue is being closed.

[2017-08-06 19:35] #71 closed

[2017-08-06 22:24] linyostorovovoltos commented on #67
@alexanderepstein You're AUR PKGBUILD fails. The PKGBUILD is
[code]
when it should be
[code]

[2017-08-07 00:53] alexanderepstein commented on #67
@linyostorovovoltos Can you let me know if it works now I had not been able to test it.

[2017-08-07 01:46] linyostorovovoltos commented on #67
@alexanderepstein It still failures, but this time because it doesn't have root, so it can't copy the scripts.

[2017-08-07 01:59] alexanderepstein commented on #67
Can you run it with ```sudo```?

[2017-08-07 10:58] tushar-saxena opened #118 "Add support for fetching lyrics of song from command line."
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [x] New component

**Description:**

[2017-08-07 11:06] pepik commented on #46
Ah, I am back from my vacation and see the issue fixed. Works like a charm now, thanks!

[2017-08-07 14:42] linyostorovovoltos commented on #67
@alexanderepstein No, you can't run makepkg with sudo, or pacaur for that matter.

[2017-08-07 14:57] alexanderepstein commented on #67
Huh I would't think it would need sudo I am trying to copy files over to ```/usr/local/bin```. Can you the new release for the aur? I edited the aur to install to ```/usr/bin``` there is a chance that the former does not exist as a directory. This definitely will and if not the script will create the directory if you see the error about sudo still I am not sure what to do.

[2017-08-07 23:24] linyostorovovoltos commented on #67
The error about sudo is caused by install.sh, because it doesn't have permissions to copy it to /usr/bin. I'm pretty sure they way you're writing the PKGBUILD to install it is very, very wrong indeed. If I have some time I'll write it myself. @alexanderepstein

[2017-08-07 23:51] alexanderepstein commented on #67
I know where the error comes from I coded it myself lol. I am confused as to where else the scripts would go? Almost all installed software goes to ```/usr/bin```. I don't know how you are expected to install anything if you cant use sudo and you dont have permissions to copy to the directory. You could install the tools somewhere else and throw that into the path but there is no way that is stand

[2017-08-08 11:49] mirfilip opened #119 "[todo] Add option to bulk remove tasks or display current list after successful removal"
**Issue Label:**
* [x] New feature
* [x] Enhancement

**Description:**
I often have many tasks added and want to bulk-remove them later. With the current state, after you remove the task which is in the middle of the list, the numbering is rearranged. So, to remove many tasks but to avoid mistakes, I often do:
[code]

There are two ways to make it better:
1. Support removing multiple tasks at once

[2017-08-08 12:52] alexanderepstein commented on #119
I added displaying the current list after removal of a task in 4599cc14098cb75cb5cc155f6f10428405551c54. Adding bulk removal will be a little but harder of a task. However i will look inti implementing it in the near future

[2017-08-09 04:41] alexanderepstein commented on #119
Added bulk remove in 4bad5305344f3b29a7554d6f01ab3badea3225da should be coming with the new release :smile_cat:

[2017-08-09 05:12] alexanderepstein commented on #118
Haven't really found a good free API for this. Will leave this issue here for a little for anyone who wants to try creating this. Follow the guide in [CONTRIBUTING](https://github.com/alexanderepstein/Bash-Snippets/blob/master/CONTRIBUTING.md) for instructions on creating a new component.

[2017-08-09 07:49] m1guelpf commented on #118
Maybe you can do this with Musixmatch API...

[2017-08-09 13:30] linyostorovovoltos commented on #67
@alexanderepstein, no, the way you move things to /usr/bin is using the install command.

[2017-08-09 15:09] alexanderepstein commented on #67
I have seen install used before but I thought it would be better to use the upstream install script. Are you allowed to loop the install command? I don't want to have an install command for every tool if I can avoid it. Would be easier to create an array of the tools to loop over.

[2017-08-11 01:59] chadfurman commented on #52
Super swamped with work.  Had to put off my OSCP studies and, with them, this project.  It's on the list :)  My superbook will be here eventually...

[2017-08-12 22:10] alexanderepstein commented on #119
Released with [Version 1.18.1](https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.18.1)

[2017-08-12 22:10] #119 closed

[2017-08-14 23:34] alexanderepstein commented on #118
Musixmatch API only provides 30% of the song lyrics with their free plan https://developer.musixmatch.com/plans

[2017-08-18 17:45] glundgren93 commented on #118
There are a couple of other options:

- https://api.vagalume.com.br/docs/letras/
- http://docs.lyricsovh.apiary.io
- https://docs.genius.com/

[2017-08-19 17:53] alexanderepstein commented on #118
Using @glundgren93 's second option i have created the initial version of the lyrics tool in this commit 89a4d1f32eb171af0607008fbebbe927ad760b32

[2017-08-20 18:03] alexanderepstein commented on #118
Added in [Version 1.19.0](https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.19.00

[2017-08-20 18:03] #118 closed

[2017-08-26 20:07] Logic-gate opened #122 "Domain change | short"
x.datasig.io is now http://ki.tc
Same parameters and output, a simple domain name change

`
   http://ki.tc/short?url=http://tinyurl.com/jhkjh78
`

[code]

https://github.com/alexanderepstein/Bash-Snippets/blob/51caa49c488d03b2f87202a9bc83f408a4ff67c6/short/short#L137

[2017-08-27 01:31] alexanderepstein commented on #122
Thanks for letting me know this has been accounted for in 566cf8c810dd9c1a971ab298cd2e8cdcc3b5bbd2 :tada: !

[2017-08-27 01:31] #122 closed

[2017-08-27 13:48] #65 closed

[2017-08-27 18:47] Logic-gate opened #123 "URL shortener"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [x] New component

**Description:**
I have created a url shortener at ki.tc. I made it with CLI in mind.
Example Usage:

Create a link:
[code]
Response:

[code]
----
Admin Access:

[code]

Response:

[code]
Admin access updated(after someone visits the link). Updated with every Access attempt.

[code]
---
Delete Link(DELETE METHOD |

[2017-08-28 14:05] mirfilip opened #124 "Problem with todo after upgrading"
**Issue Label:**
* [x] Bug

**Description:**
I worked with `1.17.2` version of todo:
[code]
My todo list had 21 elements. I realised the version is quite old, so I decided to bump it:
[code]

Now, todo fails to do anything with the existing list:
[code]

Looks like some kind of BC break.

**OS and OS version:**
* [x] Mac

OS Version:
OS Version: 10.12.5

[2017-08-28 14:45] alexanderepstein commented on #124
I am not sure but there is chance that the update was not backwards compatible since #119  you can see your tasks manually with
[code]
They will not be numbered however. You can copy this list somewhere else and then run the todo clear command to erase the list file. Than try to add new elements to the newly created todo list and see if those are accessible with either ```todo -g``` or ```todo lis

[2017-08-28 14:47] alexanderepstein commented on #124
You can also add tasks like ```todo add task stuff goes here``` and ```todo clear``` is valid as well.

[2017-08-28 14:48] alexanderepstein commented on #124
Although this not the first time I have seen this error it generally stems from me switching some logic around and clearing the list seems to work.

[2017-08-29 08:07] mirfilip commented on #124
Sure, I use `~/.todo/list.txt` manually as for now.

I copied the list to `~/.todo/list.txt.bak`, did `todo clear`.  Now, I have a funny situation:
[code]
See ^. After adding, old tasks were listed too. Now, if I add another one, it displays only two new tasks (both after adding and via `-g`).

I'd be awesome if you always try to be backward compatible, if not, maybe add a warning or sth.

[2017-08-29 08:11] mirfilip commented on #124
Ok, it's not done.

When trying to add **8th** task:
[code]

[2017-08-29 08:21] alexanderepstein commented on #124
Not sure why the 08 thing is an error but it is an easy fix that I applied here 608cab1f3d6194453672d970407a8643938b1407
As for the other error that seems very strange, it has been a little so I don't remember exactly what the difference in the logic is but I do remember that I did not build it to be able to handle bulk removal. When I added this option a lot of logic had to move around to make th

[2017-08-29 08:24] alexanderepstein commented on #123
I will look into adding this as a feature to the short tool. What Im thinking is I will take in the link as an argument and first try to find the true link behind the shortened link. If these two links are the same I will assume the user actually wanted to shorten the provided link and then it will make this api request and return the shortened link. Hows that sound?

[2017-08-29 10:58] Logic-gate commented on #123
Hey,

Why not just pass arguments for shortening and expanding.

[code]

Or something to that affect. Because, checking if a link will resolve to its actual destination will not always work. Take youtube `https://youtu.be/aStGnWN-i9o` this is a shortened link; let's assume I want to shorten it again, if I were to check if it resolves to itself, it will fail. Case in point:

[code]

I think this is

[2017-08-29 15:17] #64 closed

[2017-08-31 00:50] alexanderepstein commented on #124
Released with [Version 1.19.1](https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.19.1) this has already been merged over to homebrew-core :tada:

[2017-08-31 00:50] #124 closed

[2017-09-04 10:58] m1guelpf commented on #67
Good bot!

---

I think this is still under discussion...

[2017-09-05 13:52] alexanderepstein commented on #67
@m1guelpf  Were you able to ever upload the deb?

[2017-09-05 14:00] m1guelpf commented on #67
@alexanderepstein I have not found how to do it the way I wanted (using GitHub pages as the repository host), but I've found a free service that offers repository hosting. You migth want to try PackageCloud (packagecloud.io). They seem to offer open-source plans...

[2017-09-10 02:37] #52 closed

[2017-09-10 10:18] Logic-gate commented on #123
UPDATE
---

Since I started the issue,  I have made significant changes that improve the overall functionality of ki.tc.

Link creation remains the same. However,  admin access now includes fingerprinting from fingerprintjs2.

[code]

[2017-09-10 17:43] chadfurman commented on #52
very excited about re-opening this ticket soon.  Such a cool project you have here!

[2017-09-15 01:07] alexanderepstein commented on #123
Sorry I havent responded in a little, I have just started school and was busy working on [cryptowatch](https://github.com/alexanderepstein/cryptowatch)

Good point about using options I did not account for the possibility of a case like that. When this is implemented that is how it will be done.

Can u further explain the use of this admin link? Why would someone want to use this etc

[2017-09-22 12:09] Logic-gate commented on #123
Hey,

So the admin link is used to track or rather log usage. Again, this is a url shortener with logging capabilities.

Note, it relies heavily on JS; I used the same method t.co uses in twitter, where the page loads, then redirects. The initial loading part takes advantage of fingerprintjs2.

[2017-09-28 10:14] navanchauhan opened #125 "Meme Generator [New Component]"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [x] New component

**Description:**
Could we add a simple CLI for generating memes? I already have a program for this, if this idea is ok il make a pull request

[2017-09-28 16:58] alexanderepstein commented on #125
I don't mind the idea but after reading the code you use ```xdg-open``` which I am pretty sure that is a platform specific command and will not work on windows 10 bash etc...

If i had to guess this kind of tool will end up in the extras folder under linux.

[2017-09-29 07:03] navanchauhan commented on #125
Well I got it to work on windows 10 by using xming but I’ll try to find an alternative to xdg and eog

[2017-09-29 07:06] navanchauhan commented on #67
There is a more efficient way to make a .deb file. Just use debereate (the spelling might be wrong )

[2017-09-29 07:14] navanchauhan commented on #67
There are a number of steps involved in submitting your project to be added to Debian's archives. There are two main things you need to do.

Get your software into suitable shape for Debian. Debian is quite demanding about what software is allowed in its archives. This includes:

a) making sure your license terms are compatible with the Debian Free Software Guidelines.

b) making sure your Debian

[2017-10-02 15:53] navanchauhan commented on #125
I have found an alternative, just saving the meme without displaying it in the browser by `wget $url -o meme.jpg`

[2017-10-09 02:22] alexanderepstein commented on #125
If you look in the maps tool specifically at [this](https://github.com/alexanderepstein/Bash-Snippets/blob/master/extras/Linux/maps/maps#L118) line of code you will see it is possible to use the the existing httpGet function and save the output to an image file.

Just follow the rules for creating a new tool found in [CONTRIBUTING.md](https://github.com/alexanderepstein/Bash-Snippets/blob/master/C

[2017-10-09 02:23] alexanderepstein commented on #123
Sorry I haven't really done anything with this I spent a few hours trying to implement and ran into some errors with how the quotations needed to be escaped when the command is used within a script. It may take a while (since school has started up again and my open source work has been harder to keep up with) but I am definitely looking to implement this.

[2017-10-12 12:59] alexanderepstein opened #128 "Lyrics Tool Always Failing"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
https://lyrics.ovh/ doesn't seem to be a website. The tool for now will go in a deprecated folder and will sit there until someone comes along and finds a new free lyrics api with unlimited requests.

### If its a bug make sure to include this section.
**OS and OS version:**
All

[2017-10-13 15:33] alexanderepstein commented on #128
Fixed by removing the lyrics tool from the main installer and checking to see if I can remove it during an uninstall. Should probably check to uninstall this tool during the install but, might run into issues for people who installed a previous version through homebrew.

Lyrics was removed in [Version 1.19.2](https://github.com/alexanderepstein/Bash-Snippets/releases/tag/v1.19.2)

[2017-10-13 15:33] #128 closed

[2017-10-19 16:57] CMiksche opened #131 "Stock URL is outdated"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Your stock URL is outdated. GLOBAL_QUOTE isn't available anymore from alphavantage.co.

Example:

URL: https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol=AAPL&apikey=KPCCCRJVMOGN9L6T

Result:

    {
        "Error Message": "The API function encountered an internal or external error - w

[2017-10-20 00:23] alexanderepstein commented on #131
Thanks for letting me know :+1: , I am super busy with schoolwork currently and might not be able to get to this for 2-3 weeks. If you or anyone else wanted to submit a pull request where the output matches how it previously worked I would be more than glad to test and merge. Just don't have the time right now :clock1130:

[2017-10-25 09:55] navanchauhan commented on #67
Yo Bot,
I think this is still under discussion

[2017-10-25 10:04] navanchauhan commented on #131
@alexanderepstein Why don't you add someone else as contributor, so they can help lessen the burden

[2017-10-25 10:43] Diskutant commented on #128
Website and api works fine for me?

[2017-10-25 14:11] alexanderepstein commented on #128
Yeah seems to work now, I had tested this before and it was not working, went over to the website and it seemed to be gone, looks like its back, will try to bring back this tool in the next release

[2017-10-25 14:12] alexanderepstein commented on #131
@navanchauhan I wouldn't mind doing that I just haven't had anyone who has made a few contributions who offers to become a contributor

[2017-10-25 16:26] navanchauhan commented on #125
Closing this as I have followed your suggestions and am now using httpGet and have made a pull request

[2017-10-25 16:26] #125 closed

[2017-10-29 15:11] alexanderepstein commented on #131
It looks like with the new api offered by them i cannot grab all the same information using just one web request, and even then the way I would have to parse it amongst calculations I would have to do will make this a lot harder than it previously was. With that I am looking for a new api to get this info from and definitely will take suggestions.

[2017-10-30 22:03] CMiksche commented on #131
@alexanderepstein

Have you considered the Yahoo Finance API? It allows to grab a lot of information even without api key.

Sample request, returning a csv file:
`http://finance.yahoo.com/d/quotes.csv?s=AAPL&f=sabd`

The problem with this api is, yahoo has also changed its api ...
(Sample: https://stackoverflow.com/questions/44057580/yahoo-finance-api-changes-2017)

[2017-10-31 16:07] navanchauhan commented on #67
This bot is too good

[2017-11-03 13:52] alexanderepstein commented on #123
Sorry not I've done this yet bot I will do this by the weekend

[2017-11-05 18:51] alexanderepstein commented on #123
So i got everything here to work but the issue seems to be coming from your api, whenver I click on a shortened url all that ends up happening is it decodes the url and adds it to after the ki.tc and gives me a page which says the url was not found ex.

[code]

Clicking on the shortened url it turn the website into ```http://ki.tc/google.com``` and then Im greeted with a webpage that says ```URL N

[2017-11-05 19:11] alexanderepstein commented on #131
Sorry this is taking longer than expected, its hard to find an api that was as consistent as alphavantage. I might just end up using alphavantage again but get rid of some of the metrics that was present previously, does that sound good? Otherwise im on the hunt for an api that is a little more documented than the yahoo api

[2017-11-06 00:30] jbhouse opened #133 "Issue with cloudup not resolving host"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

When trying to use cloudup to clone a github repo to bit bucket i get the bellow error. I couldn't seem to find any similar errors/fixes through googling. other possibly relevant information- doing this through a windows 10 ubuntu terminal

Uploading hangman to bitbucket

[2017-11-06 00:53] alexanderepstein commented on #133
Can you check to see if the repository has been created on the bitbucket account? My first guess is that the repo itself wasn't actually created.

Can you also tell me what the exact command you ran was it seems like it was ```cloudup -t hangman``` but just want to be sure.

As a last measure can you run the identical command but prefix it with bash -x and post the output here? This will let me se

[2017-11-06 06:18] jbhouse commented on #133
previously i believe i just ran cloudup and then was prompted for the rest o the information
this time i tried to run it with cloudup -t hangman like you asked and this happened.
rm: cannot remove '/home/jbhouse/temp/github/hangman/.git/hooks/pre-receive.sample': Permission denied                                                                                                               rm: cann

[2017-11-06 09:27] alexanderepstein commented on #133
Well there is one issue i see off the bat, you are using an old version of Bash-snippets and should update it, many bug fixes have been made and quite possibly one of them solving your issue, try running ```cloudup -u``` and follow the onscreen prompts to update bash-snippets  we can work from there.

[2017-11-08 13:31] navanchauhan commented on #67
Is this still open or should we close it ???

[2017-11-08 13:37] alexanderepstein commented on #67
I don't think I will personally make any progress towards achieving this but I think the issue is worth leaving open in case someone wants to take the initiative and do this for the repo.

[2017-11-08 13:45] navanchauhan commented on #67
@alexanderepstein I'll try to do it cause we ain't doing anything worthwhile in school rn. I'll post every information here

[2017-11-08 13:46] navanchauhan commented on #67
And now that I think I might become the ambassador for parrot sec OS, I might persuade the gentlemen over there to add it to parrot's repo

[2017-11-08 14:03] alexanderepstein commented on #67
@navanchauhan Sounds good to me I would use the latest release Version 1.19.2 as the master branch still has some stuff that isn't finalized yet, I will look into releasing Version 1.20.0 this weekend which will include the meme component, add the functionality of qr codes to png files. Fixing the stocks script will probably have to wait until 1.20.1

I appreciate it :+1:

[2017-11-08 14:22] navanchauhan commented on #67
Has anyone built a source package? Cause then il directly upload it to my ppa

[2017-11-08 14:42] navanchauhan commented on #67
@alexanderepstein could you talk to me via email, my email is navanchauhan@gmail.com

[2017-11-08 15:55] navanchauhan commented on #67
I'm running into a issue due to the requirement of MAKEFILE Can somebody build it ?

[2017-11-08 19:57] Logic-gate commented on #123
Hey,
I am looking into the issue; I cant reproduce it.

The curl argument for creating a shortened link is

[code]

it should, and I tested it multiple times, return a functional shortened link

[code]

Try it http://ki.tc/fb241

I think you might have shortend `http://ki.tc/google.com`, I'll look into it more this evening.

Cheers,

[2017-11-08 20:12] alexanderepstein commented on #123
I have run my script verbosely and the curl call looks like this
[code]

The response looks like this
[code]

Going to the link ```http://ki.tc/20434``` bring me to the page ```http://ki.tc/google.com```

[2017-11-08 20:28] Logic-gate commented on #123
Ahaaaa, figured it out.

you're posting `google.com` as oppose to `http://google.com`; i never wrote a handler for a striped url. should be a quick fix from my part. My bad...

[2017-11-08 20:29] alexanderepstein commented on #123
Ah fair enough, let me know when this is good to go and I will make sure it will be ready to go in my script for the next release :smile:

[2017-11-08 22:41] Logic-gate commented on #123
Hey,

Fixed!!

I opted for adding a url validator(Thanks to your indirect bug report).

[code]
and

[code]

I could have added a regex that simply checks if `google.com` starts with a scheme, but then I ran into the issue of domains.

Anyway, if this quick fix is something you could work with *thumbs-up*, if not...let me know..

Cheers,

[2017-11-09 11:17] navanchauhan commented on #131
https://iextrading.com/developer/ and https://www.barchart.com/ondemand/free-market-data-api might be good alternatives

[2017-11-09 11:19] navanchauhan commented on #131
I really think IEX might be good

[2017-11-09 12:19] navanchauhan commented on #131
Just wait for 100 minutes i.e 1hr 40mins and I would have an alternative stocks script ready

[2017-11-09 12:37] navanchauhan commented on #131
Pull Request #139 fixes this issue

[2017-11-09 12:38] navanchauhan commented on #131
So I'm closing this issue, if the pull request does not get accepted this issue will be opened again

[2017-11-09 13:54] navanchauhan commented on #131
@alexanderepstein or @CMiksche You should close this now

[2017-11-09 13:58] alexanderepstein commented on #131
Fixed with #139

[2017-11-09 13:58] #131 closed

[2017-11-09 14:00] alexanderepstein commented on #123
I implemented shortening the url by checking to see if the user enters http:// or https:// in the beginning and if not I prepend it.

[2017-11-09 15:43] navanchauhan opened #140 "Adding a 'news' script"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [x] New component

**Description:**
See Pull Request #141

[2017-11-09 15:50] navanchauhan commented on #140
I am just polishing this and then I'll post the code

[2017-11-09 16:47] navanchauhan opened #142 "Wrong Screenshot for Stocks"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Please Change the screenshot for the stocks component on readme

[2017-11-09 16:51] alexanderepstein commented on #140
Closing this to move the discussion over to the pull request.

[2017-11-09 16:51] #140 closed

[2017-11-09 17:00] navanchauhan opened #144 "Adding 'Have I been Pwned's application for bash'"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [x] New component

**Description:**
I'm porting my pwned repo according to this repo

[2017-11-09 17:17] navanchauhan commented on #144
Closing Due to Pull Request #145

[2017-11-09 17:17] #144 closed

[2017-11-14 23:20] alexanderepstein commented on #133
I'm going to close this issue as I cannot resolve it without your input. I hope that it started to work after you updated.

[2017-11-14 23:21] #133 closed

[2017-11-16 09:19] TuXbOy06 opened #148 "Error: no active internet connection"
**Issue Label:**
* [x ] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
When doing a weather France for example I am getting an error
"Error: no active internet connection"
I can confim that I have internet and local firewalls

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x ] Linux 64 Bit
* [ ] Windows 32 B

[2017-11-16 16:07] navanchauhan opened #149 "Weather Script not Working"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Shows no output

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
Kali Linux 2017

Screenshot :
![Screenshot](https://i.imgur.com/7jO0UCQ.png)

[2017-11-16 16:12] retokromer commented on #149
FYI: On my Ubuntu 16.04 LTS is works fine.

[2017-11-16 16:15] navanchauhan commented on #149
@retokromer @alexanderepstein  I tried it yesterday on Parrot Sec OS, it didn't work. Today I installed Kali and still it doesn't work

[2017-11-16 16:16] navanchauhan commented on #149
output with set -x
[code]

[2017-11-16 16:25] navanchauhan commented on #149
@alexanderepstein My OSes did not have values for locale
Recommend replacing $locale with $country (Got it working after doing this)

[2017-11-16 20:13] alexanderepstein commented on #148
Can you run ```bash -x weather France``` and put the output here? I assume if this tool doesn't work then none of the other tools really will work since they all utilize the checkInternet function which basically just curl/wget/httpie/fetchs github.com if there is an error it assumes you don't have Internet connection.

[2017-11-16 20:17] alexanderepstein commented on #149
Huh I am not sure why your locale is just being set to C. when I  ```echo $LANG``` I get ```en_US.UTF-8``` the idea is to get your countries version of the weather in terms of language ex. ```curl fr.wttr.in``` outputs the weather in french. I guess I can check if the locale has not been set to something valid and just set it to ```en``` but this is more of a workaround rather than a fix.

[2017-11-25 17:33] alexanderepstein commented on #149
Fixed with commit 47e91be373e2099f22e2e9a06c3fb0603f70414a

[2017-11-25 17:33] #149 closed

[2017-11-26 12:29] Logic-gate opened #151 "One-time file sharing"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [x] New component

**Description:**
"One time" file sharing

[code]

Link will yield downloadable content. After it has been accessed, the record will be deleted forever.

[code]

[code]

^deleted

----

Note, if accessed from a browser, the file name will be represented correctly.

[2017-11-26 14:31] navanchauhan commented on #151
Nice concept. It won’t be long before bash snippets become Mr Robot’s toolbox. Il look into this after my exams (7th December )

[2017-11-26 14:31] navanchauhan commented on #151
I might be able to make a concept soon though

[2017-11-26 21:49] alexanderepstein commented on #151
Would make sense to integrate this into the transfer component as it already does file sharing an option like ```-o``` for one time would make sense. The idea being ```transfer fileToTransfer``` would use transfer.sh while ```transfer -o fileToTransfer``` would use ki.tc

[2017-12-02 11:54] Logic-gate commented on #151
Heads up...an update

[code]

[2017-12-03 11:55] chubin opened #152 "add support for rate.sx"
**Issue Label:**
* [X] Enhancement

**Description:**

rate.sx — it's a new console service for getting cryptocurrencies exchange rates.
It delivers various information about the most popular (by market capitalization)
cryptocurrencies: exchange rate, change in 1h and 24h, market capitalization, volume
etc. It is completely clientless, and needs no special dependencies, can be used with curl/httpie

[2017-12-03 17:10] vitalkanev commented on #67
I think it's still under discussion

[2017-12-04 16:40] vitalkanev commented on #123
And if I add `http://` or `https://`, this will not work

<details><summary>Here is what I did</summary>

[code]

</details>

[2017-12-04 17:18] alexanderepstein commented on #123
@vitalkanev  can you run one of those as ```bash -x short -s http://example.com```

[2017-12-05 12:27] vitalkanev commented on #123
<details><summary>HTTPS output</summary>

[code]

</details>

<details><summary>HTTP output</summary>

[code]

</details>

[2017-12-05 12:48] Logic-gate commented on #123
Hey,

It seems that for some reason it's passing an empty url

[code]

if I am not mistaken, `short -s example.com` should work. I am assuming that the regex only checks if there is no scheme specifier, https://github.com/alexanderepstein/Bash-Snippets/blob/47e91be373e2099f22e2e9a06c3fb0603f70414a/short/short#L150
and if it actually finds one, it assigns only the specifier https://github.com/alexa

[2017-12-05 16:57] alexanderepstein commented on #152
I will definitely add this as a flag to the cryptocurrency tool I love the way the output looks any chance I could add a flag to the end of the url that would specify if I want it in EUR or usd? I if I could it would probably become the default for the cryptocurrency tool and I would make the current functionality only accessible with a flag

[2017-12-05 17:30] chubin commented on #152
@alexanderepstein Hi Alex! Yes, there is the chance: just use
[code]
(or whatever; 10 currencies are supported at the moment).

[2017-12-05 22:48] alexanderepstein commented on #152
Awesome! I am definitely going to have this take over for the cryptocurrency tool and reserve the current functionality for a flag. It may take me 2-3 weeks as I am busy with finals and probably won't want to do work for a few days when I get back home :relaxed: :tada:

[2017-12-05 22:49] alexanderepstein commented on #152
Can you let me know what 10 currencies are supported atm?

[2017-12-05 23:13] chubin commented on #152
Cool!

They are listed here: http://rate.sx/:help

It is likely that the list will grow with time, so you should better check it before releasing the tools (or even check automatically with your tool).

And take a look at another new feature (it is not yet released, but it is cool):

Try: curl http://eur.rate.sx/1usd  or http://rate.sx/1btc+1bch+1btg  or http://cad.rate.sx/0.1btc-2.555eth  (crypto

[2017-12-09 10:51] Logic-gate commented on #151
An update...final one.

[code]

Opted for random readable end paths; rationale: easier to read > easier to memorize > easier to verbally share.

How it works:

Generate random longitude and latitude, pass it to what3words api > get the 3 words.

[2017-12-12 21:35] chubin commented on #152
@alexanderepstein yes (balance) and yes (it's a good idea to use Twitter solely to promote/support/discuss your tools; (Imho) it's a funny and strange idea to tweet about your personal life/but it is perfectly ok and even really convenient and efficient to use it as a support channel for your tools).

The idea with the balance is great. We've discussed it already in one of the issues of rate.sx; i

[2017-12-13 09:13] navanchauhan commented on #152
I’m free right now so I can look into implementing it in the script if that’s ok ?

[2017-12-14 01:37] alexanderepstein commented on #152
@navanchauhan yeah you can definitely look to start implementing parts of this, it will be a lot to change, I want the old functionality of cryptocurrency tool to still exist but it will with some flag like -o or -d to use the old functionality. Otherwise use rates.sx and also set the code up for being able to call rates.sx for different fiat currencies something like ```cryptocurrency -f eur``` w

[2017-12-14 01:38] alexanderepstein commented on #152
@chubin Yeah i think I will end up making one when I do Ill give you the handle :smile:

I also like the idea with balance, I took a shot at something similar with my cryptowatch tool but you did a way better job lol :+1:

[2017-12-14 01:44] alexanderepstein commented on #151
Sorry this is taking longer than I wanted to get to, I will have this done over the next 3 days or so

[2017-12-16 00:27] Logic-gate commented on #151
Sure...

Check the documentation here http://ki.tc/otf/documentation
the path is not set, also...it would be prudent to add local encryption prior to transmission. I can vouch for my service--records are terminated once accessed, but since it lacks ssl, I cant vouch for adequate transmission.

[2017-12-16 21:38] #148 closed

[2017-12-20 18:44] alexanderepstein commented on #151
I am first going just get the one time file sharing working afterwards I will add encryption before upload and decryption upon download

[2017-12-20 19:37] alexanderepstein commented on #151
First version in this commit d1b4c46491e61974a9582c7aec9af0b392524c23

[2017-12-20 19:37] alexanderepstein commented on #152
First version in this commit ac76f298db3d6632f316aed0fee30526cd014da7

[2017-12-21 21:45] elsesiy commented on #152
@alexanderepstein @chubin I'm happy to support as well so we can make it the best CLI tool possible for monitoring crypto currencies 🥇

[2017-12-21 22:14] chubin commented on #152
I'm working on several new cool features right now. I bet you will like them.

Apropos monitoring, you could add the "follow" mode to the tool,
so it will notify you if the price drops below something or soars above something.

Just a wrapper around this:
[code]

Something like
[code]
or just
[code]
but in the latter case you have to send it to background on your own.

[2017-12-26 22:02] shaishavgandhi05 opened #157 "README Enhancements"
**Issue Label:**

* [x]  Enhancement

**Description:**

It would be really helpful if the README file had a one line command with every section. Right now, the images are great for seeing the output, but in some cases, the font becomes really small and is hard to see. Including the command before the image will help with readability.

I wouldn't mind working on this if there are no objections

[2017-12-26 22:16] alexanderepstein commented on #157
Feel free to work on this! If you want you can also run '''man bash-snippets''' for a whole section on what each tool does and how to use them

[2017-12-28 18:31] vitalkanev commented on #67
Umm...

[2017-12-29 10:37] m1guelpf commented on #67
@vitalkanev I'm starting to think this is really stale...

[2017-12-29 16:14] alexanderepstein commented on #67
@m1guelpf it is definitely outside the range of my abilities, with the small amount of time I do have to work on this project I cannot be doing this. I still would like to see it happen but to have me do this would require a lot of time as I would have to learn the process from the ground up

[2018-01-03 09:33] elsesiy commented on #152
@alexanderepstein In the current implementation you broke the old functionality. It's not possible to provide the specified `-o` argument...

[2018-01-04 13:08] #123 closed

[2018-01-04 16:56] navanchauhan commented on #67
This issue is going to get closed pretty soon, just a day or two and the 1.21.0 would be up and running on my ppa

[2018-01-04 17:04] navanchauhan commented on #67
Sorry Guys, I was wrong. It's up RIGHT NOW
[code]
As of writing this, the package was building

[2018-01-04 17:04] navanchauhan commented on #67
@alexanderepstein Close this issue

[2018-01-04 17:11] alexanderepstein commented on #67
Will ad this to the readme and close the issue thanks for getting this going @navanchauhan

[2018-01-04 17:11] #67 closed

[2018-01-04 17:25] alexanderepstein commented on #123
I fixed the url shortener, I am having success expanding urls such as tiny urls but I cannot expand urls that were shortened by your api it just returns a destination identical to the source

[2018-01-05 12:19] Logic-gate commented on #123
Hey, the shortening url feature relies heavily on js, in fact it's dependent on it. After all it is a fingerprinting api. The url expansion api is a simple redirect follower; it wont follow redirects from the shortening api because there won't be any redirects unless js is detected.

It's a shortcoming from my part, not adding non-js redirects for the shortening api.

I will amend it however; in t

[2018-01-07 11:12] Hickory420 opened #158 "Duplicate functions"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [x] Enhancement
* [ ] New component
* [x] Question

**Description:**

Is there any particular reason why you have the following functions in every script?
[code]
etc...

Is there any reason why (within each script) you don't do something like `source ../common_functions.sh`,
where `../common_functions.sh` would be the above functions in the root direc

[2018-01-09 00:21] alexanderepstein commented on #158
This is not a bad idea, I did realize that I was doing this and I was left with the choice of doing what you stated above but went with the idea that each script is self contained. Which means that someone doesn't even have to go through my installer to use the script. I was also worried this might cause naming conflicts on somebodies system. I would be open to hearing what others have to say abou

[2018-01-09 07:39] navanchauhan commented on #158
I think standalone scripts are better, it's easier to develop and also the size is not a factor. Also @Hickory420 source indeed exists on mac

[2018-01-09 14:43] Hickory420 commented on #158
It is true that the duplicate code allows for portability of each script. Simply copy the contents of the script into a file and off they go. There is value in that.

On the other side of the coin, what happens when you need to update the skeleton script? Do you leave all the other scripts as they are, or manually (or via automated means) go through each script and update the 'skeletal' parts?

Co

[2018-01-10 22:31] alexanderepstein commented on #158
To update the skeleton script and all the other files that include the similar code I use a tool called [rpl](https://linux.die.net/man/1/rpl) it lets you specify a folder to recursively search for a given piece of text and replace it with another piece of text. (This is also how I update the version of bash-snippets because each file has their own version variable). I threw a little function in m

[2018-01-14 13:43] navanchauhan opened #160 "Creating a single GUI for Script"
**Issue Label:**
* [ ] Bug
* [x] New feature
* [x] Enhancement
* [x] New component

**Description:**
Preferably as a different repo, which could be installed alongside with Bash-Snippets. Made with either Electron or Tkinter

[2018-01-19 20:42] #151 closed

[2018-01-27 04:50] #157 closed

[2018-01-28 00:24] alexanderepstein commented on #160
Hm I don't think I fully understand the idea can you explain this further?

[2018-02-02 15:57] chubin commented on #152
Can we reopen it please?

[2018-02-09 18:47] elsesiy commented on #152
Yes I'm with @chubin here. Also the old functionality is still broken so there's no way to query for a certain amount atm.

@alexanderepstein Shall I fix the issue in the current implementation and keep going with Igor or when do you intend to do it?

[2018-02-09 23:27] #158 closed

[2018-02-10 20:58] alexanderepstein commented on #152
I did fix the current implementation issue just havent released an update in a while feel free to work with igor on this issue but I have been extremely busy lately so its hard to work on this project

[2018-02-12 14:01] elsesiy commented on #152
Okay, let's try to get this going again :)
@chubin Can you reach out to me via Twitter or something like that? Thanks!

[2018-02-27 01:38] #160 closed

[2018-03-12 04:32] elsesiy commented on #152
@chubin What's the status on this?

[2018-03-12 08:01] chubin commented on #152
I hope to release a major update for rate.sx soon, and we can continue with this issue then

[2018-04-04 00:12] darsh12 opened #161 "Cant run movies"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Trying to run "movies Inception" but ending up getting a blank screen

bash -x movies Inception does have output

[code]

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:

[2018-04-04 00:30] alexanderepstein commented on #161
What version of bash-snippets are you using? It appears you are missing the | after each echo of the response from the api, if you notice none of the variables are actually being set, which is odd. I am running the identical command on my machine and it works without any problems. I am using Linux, but this doesn't seem to be the issue although it could be

[2018-04-04 00:34] darsh12 commented on #161
![screen shot 2018-04-03 at 7 34 05 pm](https://user-images.githubusercontent.com/16546412/38282497-093fbfba-3776-11e8-87cd-10a5cf77e3eb.png)

[2018-04-04 00:49] alexanderepstein commented on #161
Can you take this code and place it in a file called ```test.sh``` and run ```bash -x test.sh```
[code]

I would have uploaded the file for you but github wont allow me to upload a shell script. Post the output here. It is basically just trying the same thing but only for one of the scripts.

 Additionally can you run ```python -V``` and let me know what that says?

 I am assuming that you might h

[2018-04-04 02:18] darsh12 commented on #161
![screen shot 2018-04-03 at 9 17 41 pm](https://user-images.githubusercontent.com/16546412/38285152-7fa3c6a2-3784-11e8-93cc-2ddae0f77812.png)

[2018-04-07 09:58] chubin commented on #152
@elsesiy @alexanderepstein  @navanchauhan
I've released the major update of rate.sx I mentioned above.
Now it's possible not simply do the currency conversion, but also check/visualize conversion rate change/dynamics.

Try:
[code]

[2018-04-09 00:07] alexanderepstein commented on #161
Sorry I haven't responded, been a little busy, it might have to do with your version of python I will look into it and get back to you

[2018-04-09 00:31] elsesiy commented on #152
@chubin Is it also possible to retrieve a quota for any given account balance? Let's say user A has 60 BTC and wants to know how much it's worth right now..

[2018-04-09 00:38] darsh12 commented on #161
no problem...not a big deal

[2018-05-09 00:57] #152 closed

[2018-05-09 00:57] #161 closed

[2018-05-15 06:11] adderall-prozac commented on #161
I know this was closed but I noticed that this still happens with other movies.

Sometimes there is a pause in the command and then nothing happens, but if I run the same command it works.

Just felt that I had to leave in case

[2018-06-04 09:43] adderall-prozac commented on #161
Yeah it is. I don't get it anymore so maybe there was something up with my terminal when I ran the command.

[2018-06-16 13:59] Mario253 opened #162 "Youtube View"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
In the ytview command, I searched for a video, then selected the fourth video that showed up. However, it played the first.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Versi

[2018-06-16 14:07] #162 closed

[2018-06-16 14:46] alexanderepstein commented on #162
Did this fix itself? There was a problem with an earlier version that had this behavior the newest version shouldn't

[2018-06-16 18:37] Mario253 commented on #162
That's probably it. I updated the ytview a little after I posted this, and that's about the time it was fixed.

[2018-06-27 06:33] prmsrswt opened #163 "Meme generator is not working"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
The meme generator does not work due to two bugs I have identified.
1. The website returns a PNG image while the script save it as JPEG, so a user cannot view image until he/she rename it.
2. If we use spaces in text for first or second line it returns an HTML page instead of an PNG image, correct

[2018-06-27 10:50] prmsrswt opened #165 "meme generator does not work with capital letters"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
If we use capital letters in text, we get a html document containing a redirection notice instead of png image. We can turn all capital letters into small letters before calling api to fix this issue.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux

[2018-07-24 11:34] klepsydra opened #167 "Release file needed? in Ubuntu / Debian, cannot install from apt repo"
**Issue Label:**
* [ x] Bug

**Description:**

[code]

However:

[code]

**OS and OS version:**

* [? ] Linux 32 Bit
* [x ] Linux 64 Bit

OS Version:
[code]

[2018-07-24 18:21] alexanderepstein commented on #167
@navanchauhan

[2018-07-24 18:21] alexanderepstein commented on #167
@navanchauhan

[2018-07-26 10:57] navanchauhan commented on #167
hmmm..... Noted. Going to add support till bionic beaver soon, I’m having problems with building this package

[2018-07-26 12:12] navanchauhan commented on #165
#168 Fixes This

[2018-07-26 12:13] navanchauhan commented on #163
Though #168 fixes this, according to the URL the image should actually  be jpg 😅

[2018-07-29 15:09] alexanderepstein commented on #167
@navanchauhan No worries, take your time I appreciate you maintaining the package

[2018-07-29 15:10] alexanderepstein commented on #165
Closed #169

[2018-07-29 15:10] #165 closed

[2018-07-29 15:10] alexanderepstein commented on #163
Closed #169

[2018-07-29 15:10] #163 closed

[2018-07-30 06:52] TheLinuxNinja opened #170 "Arch Linux install via package manager failure"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Using bauerbill to install bash-snippets from Arch Linux AUR
https://aur.archlinux.org/packages/bash-snippets/

$ bb-wrapper --aur -S bash-snippets
created build/download.sh
created build/build.sh
~/build ~
[2018-07-30 02:48:46] INFO: searching AUR
Already up to date.
[2018-07-30 02:48:47] INFO: fo

[2018-07-30 13:35] navanchauhan commented on #170
Try running with ‘sudo’

[2018-07-30 17:04] TheLinuxNinja commented on #170
bb-wrapper is run as the normal user, and it calls bauerbill with sudo.

however, running the AUR download.sh build.sh clean.sh scripts must be done as a normal user, not as root.

[2018-07-31 11:46] navanchauhan commented on #170
@alexanderepstein Did some researching and found out all of this:

- You shouldn't install Arch Linux packages to usr/local
- If you need sudo privileges, you should run that particular command with sudo in the script

I think we'll need to create a separate install file for Arch Linux systems

[2018-07-31 12:01] navanchauhan commented on #170
#171 + changing PKGBUILD from `install.sh` to `install-arch.sh` will fix this 👍

[2018-08-23 03:49] liuliqiang opened #172 "Concurrency seems bad in Centos7.3"
**Issue Label:**
* [x] Bug

**Description:**
I try this command: `currency CNY HKD 10 ` and get the output which not show as sample:

[code]

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Linux 64 Bit

OS Version:

[code]

[2018-08-28 15:38] #167 closed

[2018-08-30 12:17] #170 closed

[2018-09-01 03:39] jarun opened #173 "Currency conversion does not work"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
 Conversion from USD to INR does not show correct results.

[code]

Today the conversion rate is: 1 USD = 70.87 INR

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version: Ubun

[2018-09-01 19:49] alexanderepstein commented on #173
Seems like the endpoint of the api being used changed. Should be fixed now with b270518de8c96ed1e67fafd7701ae08aa932ec1e

[2018-09-01 19:50] alexanderepstein commented on #172
Think this has been fixed in b270518de8c96ed1e67fafd7701ae08aa932ec1e, you will have to install from master to use the patch

[2018-09-01 21:02] jarun commented on #173
It's fixed. Thanks!

[2018-09-01 21:02] #173 closed

[2018-09-02 02:59] nanoak opened #174 "Uninstall todo"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
I'm having a bad time trying to uninstall todo. How can I do thtat in Arch Linux?

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
Arch Linux

[2018-09-03 04:39] alexanderepstein commented on #174
Did you use the arch script or just the generic install script?

[2018-09-30 03:12] SDiamante13 opened #176 "ytview not working on Mac"
**Issue Label:**
* [x ] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
ytview is not functioning properly. When I run ytview Ed Sheeran and choose a song, VLC Media Player is launched and displays this:

<img width="701" alt="screen shot 2018-09-29 at 10 05 43 pm" src="https://user-images.githubusercontent.com/29823897/46252837-31581600-c434-11e8-95f5-02b58f8d3c28.pn

[2018-09-30 03:16] SDiamante13 opened #177 "currency not properly displaying output"
**Issue Label:**
* [ x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
currency is not displaying the correct conversion. The output I get for all conversions has the same "0" output.
<img width="253" alt="screen shot 2018-09-29 at 10 13 13 pm" src="https://user-images.githubusercontent.com/29823897/46252897-1c2fb700-c435-11e8-94ab-b273f290a407.png">
___
<img width="

[2018-10-02 16:22] #172 closed

[2018-10-03 06:06] #174 closed

[2018-10-06 13:40] mrkafk opened #179 "bats tests failing on my box"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
When I run `bats tests` in freshly cloned repository I get plenty of errors.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [X] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version: Debian 9 amd64.

Output:

[code]

[2018-10-20 00:58] alexanderepstein commented on #177
You are correct, something about the endpoint changed. This should be fixed in 6eb69e5ee13dc3cb516db1361b7f1f19f2f40b4c I am looking to update the version since it has been a while since I have properly done that

[2018-10-20 00:58] #177 closed

[2018-10-20 00:59] alexanderepstein commented on #179
Do you install all of the tools? it seems like it just cant find some of them

[2018-10-20 01:01] alexanderepstein commented on #176
Hmm if I had to guess it has something to with the fact that these songs are usually videos that are sponsored by the companies and are therefore are a bit different on youtubes server. Since this method circumvents all ads I think this is their way of blocking you from listening to the song without watching the ads first, in which they would be breaking their contract with the record company.

[2018-10-26 05:05] surajgupta4 opened #180 "unable to install bash-snippets"
**Issue Label:**
* [ ] Bug

**Description:**
on running  sudo add-apt-repository ppa:navanchauhan/bash-snippets
the terminal returns
 http://ppa.launchpad.net/navanchauhan/bash-snippets/ubuntu bionic Release
  404  Not Found [IP: 10.20.1.222 3128]

The repository 'http://ppa.launchpad.net/navanchauhan/bash-snippets/ubuntu bionic Release' does not have a Release file.

### If its a bug make sure to

[2018-10-26 06:09] alexanderepstein commented on #180
I would just use the git install method (it is going to be the most up to date)

[2018-10-26 06:10] alexanderepstein commented on #180
@navanchauhan would be the one to fix the PPA

[2018-11-19 14:13] #179 closed

[2018-11-19 14:13] #176 closed

[2018-11-25 06:55] #180 closed

[2018-11-26 13:55] dashdeckers opened #182 "More display options for weather"
**Issue Label:**
* [ ] Bug
* [x] New feature
* [x] Enhancement
* [ ] New component

**Description:**
An option to only show the weather forecast for tomorrow and only displaying the current weather would be really useful for an automatic setup (this would look great on a setup worthy of the unixporn subreddit). I have tried piping the output to more/less but it doesnt display nicely at all.
A less

[2018-12-22 14:47] alexanderepstein commented on #182
Not stale, just been busy I will see if I can do something like this, although it might be necessary for the wttr.in api to just support options for this

[2019-01-29 21:39] alexanderepstein commented on #182
It actually seems that display options like that already do exist and although this was not the intent of the script it can already do this. For example if you type in ```weather Paris?0``` you will only see the current weather. Replace the 0 with a 1 to see the breakdown for the day. You can also write it like ```weather Paris?0Q``` and that will remove the line "weather report for...". All of th

[2019-01-29 21:40] #182 closed

[2019-05-04 20:00] virgilwashere opened #184 "test: `cheat.bats` is testing `stocks`"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

[`cheat.bats`](tests/cheat.bats) was overwritten with [`stocks.bats`](tests/stocks.bats) a while back.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
[code]

[2019-05-06 04:24] alexanderepstein commented on #184
Fixed in #185

[2019-05-06 04:24] #184 closed

[2019-05-06 04:33] alexanderepstein commented on #184
@virgilwashere So it seems most tests are now working on OSX except for a single weather test if you happen to get time to fix https://travis-ci.org/alexanderepstein/Bash-Snippets/jobs/528642485 .

Additionally if possible I would like to fix the Linux tests so that both systems can be part of the required CI pipeline.

If you are busy or don't want to do these things that is alright as well, I ap

[2019-05-06 15:51] virgilwashere opened #186 "Linux tests failing "update""
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

CI tests for Linux failing on "update" check

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
TravisCI

[2019-05-06 15:54] virgilwashere commented on #186
@alexanderepstein feel free to assign this to me.

They were passing in my local Linux environment...

[2019-05-06 16:04] virgilwashere opened #187 "weather script tests"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

Weather tests passing specific location check.

"no arguments" doesn't show usage like the others, but runs wttr for "current location".

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64

[2019-05-06 16:06] virgilwashere commented on #187
Alex can you confirm the output of `weather` with no arguments on a Mac?

[2019-05-08 16:43] alexanderepstein commented on #187
Unfortunately I don't have access to a Mac currently to test any of this on, I will look into updating Travis CI if that is the issue.

[2019-05-08 16:46] alexanderepstein commented on #186
This is not the first time this has happened to me where the Linux tests work locally but do not work in Travis, I don't think I ever really pinpointed why this occurs.

[2019-05-08 22:44] alexanderepstein commented on #187
Rereading your comment though, based on the code if you use the ```weather``` with no arguments then it should aqquire the users location through ip address and display the weather

[2019-05-25 08:43] navanchauhan commented on #187
@virgilwashere output:

[code]

[2019-05-25 08:43] navanchauhan opened #189 "Adding the sponsor button"
**Issue Label:**
* [ ] Bug
* [ ] New feature
* [x] Enhancement
* [ ] New component

**Description:**

You can enable the sponsor button by going into the project settings and enabling it

[2019-05-28 13:50] alexanderepstein commented on #189
Closed with a54959283c29173ee61570ba9d4da71e80656ccf not really sure what this feature is yet, haven't had the time to look into it

[2019-05-28 13:50] #189 closed

[2019-06-07 17:51] #186 closed

[2019-06-23 12:54] virgilwashere commented on #187
Real soon.

[2019-06-25 15:30] webmastak opened #192 "ytview default player selection"
Manjaro Linux 64 Bit

You can add a configuration to ytview so that you can use the default player that the user wants?

What not to do dirty hack:
My mpv player
[code]

[2019-07-08 22:35] mj-2017 opened #193 "stocks not returning data"
'stocks' is no longer operational
* [ X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
I'm using bash-snippets on an AWS Ubuntu 16.04.6 system.  Around Jun 14, 2019 my system started returning "Not a valid stock symbol" every time I executed 'stocks'.   Other bash-snippets scripts still operate wonderfully.

### If its a bug make sure to include this section.
**OS a

[2019-07-11 01:46] grdguez commented on #193
Having the same issue on my laptop running Ubuntu 19.04.

[2019-07-14 18:44] tjstub commented on #193
I was passing through and did a bit of investigation on what's going on here.

IEX has sunset all third-party data from their v1 API (occurred June 1st, from what I can tell), and moved it to their IEX Cloud offering, which requires an account.  I assume this is what is causing the issue. The fix then for this issue is not straight forward. There are (from what I can tell) two possible paths.

1.

[2019-07-17 07:48] antofthy opened #198 "Suggestion: create a http_get script for all the other web utilities to use."
A lot of the utilities has code the look for   curl,  wget,  etc.
Add a utility to do that, and have all the other scripts use it.

Heck my own version of "http_get" can even do the request using: perl, lynx, netcat, mconnect, or gnu-awk  to make the web request, if it is needed!  It even has a pure BASH v2 method built into it.

[2019-07-20 15:44] #193 closed

[2019-07-20 15:50] alexanderepstein commented on #192
We can check for an environment variable to be set, if its not set we run down this list in the same order, if it is set we attempt to use that player.

[2019-07-20 16:04] alexanderepstein commented on #198
I have toyed with the idea of creating a bash-snippets helpers file which would contain all the functions like these. My philosophy has been that each script file should be self contained for easier portability, but I do see the value in this. I may change my mind if someone decides to submit a pull request doing this.

[2019-07-23 14:22] #187 closed

[2019-08-01 09:08] rosolowski opened #201 "Can't install one script by brew"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
I tried to install only weather script by brew so I put this command to terminal:
`brew install bash-snippets --without-all-tools --with-weather`

But unfortunately I got this error:

[code]

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [

[2019-08-05 23:07] cryptCEE opened #202 "Currency conversion does not work"
**Issue Label: Currency conversion parse error**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Currency conversion does not seem to work:

[code]

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version: Mojave 10.14.5

[2019-08-05 23:14] alexanderepstein commented on #202
Can you try doing a manual git install of bash snippets without checking out to the latest stable release? Steps for this process are in the readme and just skip the step with the command ```git checkout```. There have been some changes to the currency script and I want to see if the error still occurs on the latest version. Doing the above process will get you the latest unreleased changes of bas

[2019-08-06 06:18] cryptCEE commented on #202
will check it later and revert, thanks for the quick reply !

[2019-08-06 06:18] cryptCEE commented on #202
[code]

[2019-08-06 06:24] cryptCEE commented on #202
Did as advised, error still occurs:

[code]

[2019-08-06 06:27] cryptCEE commented on #202
after doing manual git install as advised, bash -x currency EUR USD 12.35 gives me:

[code]

[2019-08-06 21:58] makeworld-the-better-one opened #203 "Qrify file reading bug"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
[code]

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
[code]

@alexanderepstein @linyostorovovoltos

[2019-08-07 18:15] alexanderepstein commented on #203
When you run ```python -V``` what gets returned? Thinking this because currently python3 is not supported for all scripts. Support was just added to the stocks script for python3 so maybe we just need to implement a similar fix here.

[2019-08-07 18:17] alexanderepstein commented on #201
Hmm I don't have access to a Mac anymore, but I will try to read through the Homebrew formula and my install script to see if I can see any issues. I was pretty sure this had worked at some point and I don't think any of those pieces have changed since then so I'm not sure why this would have just started to happen.

[2019-08-07 18:18] alexanderepstein commented on #202
It appears either that the API call is not working anymore, or they have changed the response format so we aren't parsing it correctly anymore. Will look into this

[2019-08-08 20:21] makeworld-the-better-one commented on #203
`Python 3.7.4` is returned, because I'm on Arch Linux. It seems the following lines should be changed from `python` to `python2` for compatibility.
[code]

[2019-08-12 18:53] alexanderepstein commented on #203
Okay so it looks like we will have to utilize the same logic from the stocks script to add the python3 compatibility here. Slowly, but surely all tools will soon need to support python 2 and 3. Thanks for bringing this to my attention!

[2019-08-14 14:59] rohanrdotihal opened #205 "stocks script not working"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
The stocks script returns Not a valid stock symbol

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version: Mojave 10.14.6

[2019-08-17 15:12] alexanderepstein commented on #205
Can you run follow the instructions for installing bash-snippets from git? Skip the step involving a git checkout, this will give you the latest unreleased changes. I believe your issue will be fixed if you do this.

[2019-08-19 12:02] rohanrdotihal commented on #205
Installing via git clone and skipping git checkout works fine.
Not sure what is the issue with brew install.

[2019-08-20 06:18] #192 closed

[2019-08-20 06:18] #198 closed

[2019-08-20 23:18] alexanderepstein commented on #205
I need to update both the git version and then update the brew version. Been a little slow to do that.

[2019-08-20 23:18] #205 closed

[2019-08-21 00:07] alexanderepstein commented on #192
This was just added to Version 1.23.0!

[2019-08-21 00:08] alexanderepstein commented on #203
Can you upgrade to 1.23.0 I am hoping this issue is now fixed as python3 is supported in all scripts.

[2019-08-21 00:17] alexanderepstein commented on #201
So someone else has made a commit to the homebrew forumla the removes the ability to install individual tools through homebrew. Not sure exactly why, but this may have been a choice made by that team. https://github.com/Homebrew/homebrew-core/commit/60e406767102485536766dad9305c5846e9ff3af

[2019-08-23 04:49] RadeshNMP opened #206 "ytview not working on Mac - error message"
**Issue Label:**
* [X ] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
ytview does not work on Mac - below is the error message
/usr/local/bin/ytview: line 91: conditional binary operator expected
/usr/local/bin/ytview: line 91: syntax error near `YTVIEWPLAYER'
/usr/local/bin/ytview: line 91: `  if [[ ! -v YTVIEWPLAYER ]]; then'

Thanks in advance,
Radesh

### If its

[2019-09-01 02:52] alexanderepstein commented on #206
Thank you for letting me know about this! I think I have fixed it with 4c09b6ff09a193c31ba58aed37c97783a5d6e81b can you run the git install for just ytview from the instructions, however do not checkout to the latest stable release. This will give you the change I just made to ytview without me having to bump the version, If you can confirm that works now I will bump the version so everyone will b

[2019-09-06 19:27] #202 closed

[2019-09-20 00:59] #203 closed

[2019-09-20 00:59] #201 closed

[2019-10-01 03:33] #206 closed

[2019-11-24 06:17] HaoZeke opened #210 "Multiple Tests Broken"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Many of the existing tests are broken at the moment. Namely:

- `cloudup`
- `crypt`
- `cryptocurrency`
- `geo`
- `meme`
- `movies`
- `newton`
- `qrify`
- `short`
- `siteciphers`
- `stocks`
- `taste`

![image](https://user-images.githubusercontent.com/4336207/69490564-f740a380-0e81-11ea-9d74-2253922

[2019-11-24 07:02] alexanderepstein commented on #210
Hmm seems like way more tests are broken here than the latest travis linux build https://travis-ci.org/alexanderepstein/Bash-Snippets/jobs/616188136 so not exactly sure what is going on here.

it would also be helpful to fix the travis darwin build, there is an issue with homebrew not having the right ruby version  (homebrew is used to install bats). Might be able to just install bats manually fro

[2019-12-24 08:25] #210 closed

[2020-01-08 16:31] mathtd opened #211 "Stock script returns "Not a valid stock symbol""
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Looking for the price of AAPL returns "Not a valid stock symbol"
[code]

### If its a bug make sure to include this section.
**OS and OS version:**
* [X] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version: macOS Catalina 10.15.2

[2020-01-08 17:18] alexanderepstein commented on #211
Are you running version 1.23.0 try running `stocks -u`

[2020-01-08 18:03] mathtd commented on #211
Yes 1.23.0.

[code]

If I run `bash -x stocks AAPL` it seems that the problem comes from:

[code]

[2020-01-08 19:02] mountaineerbr commented on #211
Try 'curl -sL ..'

On Wed, 8 Jan 2020, 15:03 mathtd, <notifications@github.com> wrote:

[2020-01-08 19:22] mathtd commented on #211
That works!

[2020-01-08 23:28] alexanderepstein commented on #211
So it seems the endpoint must have changed, will update the Stocks component with the new endpoint

[2020-01-09 07:21] alexanderepstein commented on #211
Seems like they changed the URL from https://financialmodellingprep.com -> https://financialmodelingprep.com, I pushed a fix in bb561e5048d07b6709192896b37fef32059da16f and will release an update soon. Thanks for making me aware of the issue! If you want the changes now, you can rerun the git install steps and skip the step of checking out to the latest stable build.

[2020-01-09 07:21] #211 closed

[2020-01-09 15:41] mathtd commented on #211
Great, thank you!

[2020-02-13 12:12] typebrook commented on #211
@alexanderepstein
`stock` fails again, should reopen this issue

I think this is caused by request header, for short
[code]

[2020-02-16 14:22] navanchauhan commented on #180
@alexanderepstein I never got a notification about this mention somehow, I no longer have access to my Ubuntu laptop.

I am going to try and create a script for packaging this so anyone can do it in the future

[2020-03-06 17:44] navanchauhan opened #217 "Pwned no longer working"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:

[2020-03-13 04:04] Hickory420 opened #218 "Lyrics script fails when it finds the lyrics"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

### If its a bug make sure to include this section.
**OS and OS version:**
* [X] Mac
* [ ] Linux 32 Bit
* [ ] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
`uname -a`
Darwin MacBook-Pro 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RE

[2020-03-13 04:05] Hickory420 commented on #218
This applies to any artist and song...

[2020-04-01 17:33] navanchauhan commented on #217
Have I been Pwned's API has upgraded, I'll try to make a PR soon

[2020-04-01 17:38] navanchauhan commented on #217
The new API version, V3 requires a paid API key and the old API endpoints have been deprecated.

@alexanderepstein please remove `pwned` from bash-snippets

[2020-04-03 20:55] alexanderepstein commented on #218
Looks like the lyrics extraction is failing, will have to look into this. Thanks for the heads up 👍

[2020-04-03 20:55] alexanderepstein commented on #217
I will remove it, thanks for the head up!

[2020-04-03 20:55] #217 closed

[2020-08-13 16:37] diego-rapoport opened #219 "Can't use ytview"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
I can find the video and an option is available to choose, but it doesn't open vlc or mpv, which are the players I have installed. I can open a youtube video in mpv using commandline normally. Nothing shows up, nor a message or error.

### If its a bug make sure to include this section.
**OS and OS

[2020-08-13 17:20] alexanderepstein commented on #219
Hmm can your ytview command prefixed with `bash -x` and paste the output here?

[2020-08-14 14:43] diego-rapoport commented on #219
[code]

It says OLDPWD not defined.

[2020-09-20 03:43] #219 closed

[2020-10-20 19:54] jfrcom opened #223 "Package in the AUR"
**Issue Label:**
* [ ] Bug
* [x] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

Hello,

I just came across this repo and saw, that the package in the AUR has been out of date since June 2018. I've built a new `PKGBUILD` and would like to take over the package. If you're fine with that you can disown the package in the AUR and make it orphan.

Just let me know about your decis

[2020-10-20 21:25] alexanderepstein commented on #223
Hey I have disowned the package, feel free to adopt it. Thanks for taking over on this!

https://aur.archlinux.org/packages/bash-snippets/

[2020-10-21 11:29] jfrcom commented on #223
The package is now available in the AUR. Install it with
[code]

Also, I have opened a pull request where I have reworked the installing, updating, uninstalling sections and added guides for the aur package.

[2020-10-21 11:29] #223 closed

[2020-10-28 06:14] ishaanbri opened #225 "Newton result field empty"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [X] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
Linux centos 3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Issue is co

[2020-11-13 20:32] jacksteussie opened #226 "not valid stock symbol weird output"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
I get the correct output when I do:

But when I do just:

I get the not a valid stock symbol error.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [X] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version: Fedora 33

[2020-11-14 06:32] navanchauhan commented on #226
This is because of changes made to the API service being used. It now requires an API key. The bash snippet will be needed to be updated to provide the API key.

https://github.com/alexanderepstein/Bash-Snippets/blob/97a1c0d6358264a50ca0c6e221b74ea1cb72b372/stocks/stocks#L86-L94

Output of `bash -x stocks nvda`

[code]

As you can see the error message states the API key is invalid. You can either

[2020-11-14 16:48] navanchauhan commented on #225
This is because of the following line https://github.com/alexanderepstein/Bash-Snippets/blob/97a1c0d6358264a50ca0c6e221b74ea1cb72b372/newton/newton#L115

The new base url is `https://newton.now.sh/api/v2/`

I have opened a PR with the fix, you can just change the URL in your local installation till then.

[2020-11-14 19:39] #225 closed

[2020-11-21 18:52] alexanderepstein commented on #226
Hmm so if they now require an api key it means I should try to find another service that does it for free, my goal with bash-snippets is to prevent any need for setup and api keys are usually something I try to work around. If anyone would like to take up replacing the current stocks api with a different one that didn't use an API key I would most likely merge the changes.

[2020-12-22 23:06] tlgoa opened #228 "ytview doesnt work"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

ytview -s trial

1.	nonce=4bqbtUtpUPHZKksRPb8jVg>if (document.fonts && document.fonts.load) {document.fonts.load(400 10pt Roboto, ); document.fonts.load(500 10pt Roboto, Roboto,

Choose a video: 1

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32

[2020-12-31 12:30] adithyasunil26 commented on #228
Same issue on Mac (macOS 11.1 ) as well

[2021-03-05 23:49] BlackFrog1 opened #229 "Installing from source fails on MacOS"
**Issue Label:**
* [X] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
When installing from source on a brand new macOS, the /usr/local/share/man/man1 folder doesn't exists.
Only when the --prefix flag is used, does it create the required folders.

<img width="746" alt="Screen Shot 2021-03-05 at 6 31 24 PM" src="https://user-images.githubusercontent.com/550820/1101865

[2021-08-09 12:47] JeerusBeerus opened #232 "Currency syntax error 1, the whole command doesn't work."
**Issue Label:**
* [X ] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
When trying to convert currency with the "currency" command, the script gives a (standard_in) 1: syntax error.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [ X] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version: Ubuntu

[2021-08-09 18:37] moneypro commented on #232
Running on MacOS Big Sur. Got parsing error. Looks like the API return value changed from the source.

`hong@C02FN173MD6V server % currency USD EUR 540
(standard_in) 1: parse error
(standard_in) 1: parse error
(standard_in) 1: parse error
=========================
| USD to EUR
| Rate:
| USD: 540
| EUR:
=========================
hong@C02FN173MD6V server % currency USD CAD 540
(standard_in) 1: parse

[2021-11-13 01:46] jazz-it commented on #232
You need to push the following change in order to make it work:

https://github.com/alexanderepstein/Bash-Snippets/commit/9f92e2ec04750aef8c3bf503befad89fb495a79d

[2021-11-15 21:10] jazz-it opened #233 "meme doesn't work"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
I just installed the script and meme doesn't seem to work as well.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Linux 32 Bit
* [x] Linux 64 Bit
* [ ] Windows 32 Bit
* [ ] Windows 64 Bit

OS Version:
[code]

[2022-04-13 12:54] hakxcore opened #234 "transfer.sh domain is not working anymore instead.."
**Issue Label:**
* [x] Bug
* [x] New feature
* [x] Enhancement
* [x] New component

**Description:**
transfer.sh domain is not working anymore instead can we use keep.sh in the transfer bash-snippet @alexanderepstein

### If its a bug make sure to include this section.
**OS and OS version:**
* [x] Mac
* [x] Linux 32 Bit
* [x] Linux 64 Bit
* [x] Windows 32 Bit
* [x] Windows 64 Bit

OS Version:

[2022-05-08 16:51] alexanderepstein commented on #234
I am happy to merge in a change that switches the tool to use keep.sh instead, but I am not sure if I have time to implement it myself

[2022-05-08 17:17] hakxcore commented on #234
Ohk Don't worry @alexanderepstein let me create a PR.

[2022-05-22 13:07] hakxcore commented on #234
Delayed due to the vocations :) but have created a PR toaday please consider [review](https://github.com/alexanderepstein/Bash-Snippets/pull/235l).

[2022-05-24 03:12] alexanderepstein commented on #234
PR has been merged

[2022-05-24 03:12] #234 closed

[2022-06-01 12:09] tikendraw opened #236 "ytview doesn't work"
**Issue Label:**
- [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**

t@t:~/Bash-Snippets$ ytview never gonna give you up
1.	manifest href=/manifest.webmanifest crossorigin=use-credentials></head><body dir=ltr><script nonce=Lydrhkhi5SVlb-HJT3hMyA>if (window.ytcsi) {window.ytcsi.tick('bs', null, '');}</script><script nonce=Lydrhkhi5SVlb-HJT3hMyA>ytcfg.set('initialBod

[2022-08-30 00:18] Slipjack9600 opened #237 "movies script returns empty variable values in results"
**Issue Label:**
* [x] Bug
* [ ] New feature
* [ ] Enhancement
* [ ] New component

**Description:**
Regardless of argument (movie title) given, the script returns empty variables to the output. I checked the omdbapi URL strings and they seem legit -- i.e. I don't think omdbapi changed their formatting.

### If its a bug make sure to include this section.
**OS and OS version:**
* [ ] Mac
* [ ] Lin